.apartment-options {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 14px;
  color: var(--clarified-black);

  & li a {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    width: 100%;
    border-radius: 5px;
  }
}
