.articles {
  display: flex;
  flex-direction: column;
}

.articles__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.articles__item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 10px;
  padding: 5px;
}

.articles__content {
  display: flex;
  flex-direction: column;
  order: 1;
  padding: 5px 0;

  & p {
    font-size: 14px;
    line-height: 18px;
  }
}

.articles__picture {
  height: 80px;
  width: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.articles__footer {
  margin-left: auto;
  margin-top: 4px;

  & a {
    display: block;
    padding: 10px 8px;
  }
}

@media (min-width: @desktop-width) {
  .articles__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .articles__item {
    padding: 10px;
  }

  .articles__item--first {
    grid-row: 1/5;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;

    .articles__picture {
      grid-row: 1/4;
      height: 100%;
    }

    .articles__content {
      padding: 5px 10px;

      & p {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .articles__footer {
    grid-column: 1/-1;
  }
}
