.articles-section {
  display: grid;
  row-gap: 3px;
}

.articles-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;

  & a {
    padding: 10px 8px;
  }
} 

.articles-section__title {
  font-weight: 400;
  font-size: 20px;
}

.articles-section__list {
  display: grid;
  row-gap: 10px;
}

.articles-section__item {
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 10px;
  padding: 5px;
}

.articles-section__content {
  display: grid;
  order: 1;
  padding: 5px 0;

  & p {
    font-size: 14px;
    line-height: 18px;
  }
}

.articles-section__picture {
  height: 80px;
  width: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media (min-width: @desktop-width) {
  .articles-section__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .articles-section__item {
    padding: 10px;
  }

  .articles-section__item--first {
    grid-row: 1/5;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;

    .articles-section__picture {
      grid-row: 1/4;
      height: 100%;
    }

    .articles-section__content {
      padding: 5px 10px;

      & p {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
