.banks {
  & ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & li {
      width: 100px;
      height: 30px;
      text-align: center;
      cursor: pointer;

      & img {
        object-fit: contain;
      }
    }
  }

  @media (min-width: @tablet-width) {
    & ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;

      & li {
        text-align: left;
        position: relative;
      }
    }
  }
}
