.breadcrumbs {
  & ol {
    display: flex;
    // justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;

    & li {
      position: relative;
      font-size: 14px;

      &:not(:last-child)::after {
        position: absolute;
        content: '';
        top: 11px;
        right: -13px;
        width: 6px;
        height: 6px;
        border-top: 1px solid var(--half-black);
        border-right: 1px solid var(--half-black);
        transform: rotate(45deg);
      }

      & a {
        display: inline-block;
        padding: 5px 0;
      }
    }
  }

  &--location {
    & ol li {
      & span {
        display: inline-block;
        padding: 5px 0;
      }

      &:not(:last-child) span {
        cursor: pointer;

        &:hover {
          color: var(--basic-green);
        }

        &:focus-visible {
          color: var(--basic-green);
          outline: none;
        }
      }
    }
  }

  @media (min-width: @tablet-width) {
    // font-size: 14px;
  }
}
