.builder {
  display: grid;
  row-gap: 30px;
}

.builder__objects-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.builder__header {
  border-radius: 10px;

  & .developer h1 {
    width: min-content;
  }

  & .developer-about__description {
    & span {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 22px;
    }

    & a {
      font-size: 15px;
    }
  }
}

.builder__info {
  padding: 0;
  background-color: var(--white);
}

.builder__objects {
  overflow-x: hidden;
}

@media (min-width: @desktop-width) {
  .builder {
    display: grid;
    row-gap: 60px;

    & h1 {
      font-size: 34px;
    }

    & h2 {
      font-size: 26px;
    }

    .new-bldg {
      min-width: 350px;
    }

    & .developer-about__description {
      grid-row: 2/3;
    }
  }

  .builder__objects {
    margin: 0 auto 20px auto;
    width: 1200px;
    margin-bottom: 20px;
  }

  .builder__header {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--light-gray);

    & .developer-about__description {
      & span {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 22px;
      }

      & a {
        font-size: 15px;
      }
    }
  }
}
