.button-main {
  // background-color: @basic-green;
  border: 1px solid @basic-green;
  color: @basic-black;
  padding: 5px 10px;
  border-radius: 4px;

  &:hover {
    background-color: @basic-green;
    color: @white;
  }
}
