.button-main {
  padding: 14px 10px;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--blue);

  @media (min-width: @tablet-width) {
    padding: 5px 10px;
  }
}

.button-main--add {
  @media (min-width: @tablet-width) {
    height: 35px;
  }
}
