.button-link-container {
  display: grid;
  grid-template-rows: 48px;

  & .button-main {
    grid-row: 1/-1;
    grid-column: 1/-1;
    order: 1;
  }

  & a {
    grid-row: 1/1;
    grid-column: 1/-1;
    margin: auto;
    font-size: 22px;
    color: var(--basic-black);
    font-weight: 500;
  }
}
