.button {
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
  }
}

.button--text {
  padding: 7px 5px;
}

.button--close {
  position: relative;
  width: 40px;
  height: 40px;

  &:hover {
    background-color: var(--extra-light-gray);
  }

  &:active {
    background-color: var(--light-blue);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url('../img/icons/close-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
