.button {
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
  }
}

.button--text {
  padding: 7px 5px;
}
