@media (min-width: @desktop-width) {
  .button-filter {
    // position: relative;
    padding: 6px 6px 6px 10px;
    border: 1px solid var(--gray);
    // border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    column-gap: 5px;

    // & span,
    // svg {
    //   pointer-events: none;
    // }

    &:active,
    &:hover {
      border-color: var(--basic-green);
    }
  }

  .button-filter__icon {
    // position: absolute;
    // top: 50%;
    // right: 5px;
    fill: var(--basic-green);
    transform: rotate(180deg);
  }

  .button-filter[aria-expanded='false'] .button-filter__icon {
    transform: rotate(0deg);
  }
}
