.button-filter {
  position: relative;
  padding: 13px 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;

  &:active,
  &:hover {
    border-color: var(--blue);
  }

  &--deal,
  &--price {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 7px 25px 7px 10px;
    border: 1px solid var(--gray);
  }
}

.button-filter__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  fill: var(--blue);

  @media (min-width: @tablet-width) {
    right: 5px;
  }
}

.button-filter__icon--rotate {
  transform: rotate(180deg) translateY(50%);
}

.button-filter--type {
  display: block;
  width: 100%;
  text-align: start;
  border: 1px solid var(--gray);
  background-color: var(--white);
}

.button-filter--add {
  @media (max-width: @mobile-width-only) {
    width: 100%;
  }
}
