.button-main {
  padding: 5px 10px;
  color: @basic-black;
   // background-color: @basic-green;
   border-radius: 4px;
   border: 1px solid @basic-green;

  &:hover {
    color: @white;
    background-color: @basic-green;
  }
}
