h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h5 {
  margin: 0;
}

.caption {
  &--h1 {
    font-size: 1.37rem;
    line-height: 1.18em;
  }

  &--h2 {
    font-size: 1.125rem;
    line-height: 1.3rem;
  }
}

.art-h1 {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}

.art-h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.catalog-caption,
.caption-catalog {
  font-size: 1.1em;
  line-height: 1.3em;
}

.caption-catalog {
  margin-bottom: 20px;
}

.card-caption {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;

  & span:first-child {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 7px;
    padding: 2px 12px;
    font-size: 12px;

    border-radius: 4px;
    background-color: rgb(241, 241, 244);

    &::before {
      content: "";
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: rgb(255, 90, 80);
    }
  }
}

.section-title {
  margin-bottom: 15px;
  font-size: 16px;
}

.caption-article {
  font-size: 36px;
  line-height: 105%;
}

@media (min-width: @tablet-width) {
  .card-caption {
    display: block;
    font-size: 26px;
    line-height: 110%;

    & span:first-child {
      position: static;
      display: inline-block;
      padding: 0;
      font-size: inherit;
      border-radius: 0;
      background-color: transparent;

      &::before {
        display: none;
      }
    }
  }

  .catalog-caption,
  .caption-catalog {
    font-size: 1.3rem;
    line-height: 1em;
  }

  .section-title {
    font-size: 18px;
  }

  .caption-index {
    font-size: 24px;
    line-height: 30px;
  }

  .art-h1 {
    font-size: 22px;
  }
}

@media (min-width: @desktop-width) {
  .caption-index {
    font-size: 36px;
    line-height: 42px;

    &--gk {
      font-size: 1.9rem;
    }
  }
  .card-caption {
    font-size: 29px;
  }

  .catalog-caption,
  .caption-catalog {
    font-size: 1.6rem;
  }

  .art-h1 {
    font-size: 26px;
  }
}
