.caption {
  font-weight: 400;

  &--h1 {
    font-size: 1.37rem;
    line-height: 1.18em;
  }

  &--h2 {
    font-size: 1.125rem;
    line-height: 1.3rem;
  }
}

.caption-index {
  margin: 0 0 25px 0;
  font-weight: 700;
  font-size: 1.35rem;
  line-height: 1.3em;

  @media (min-width: @tablet-width) {
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    font-size: 2.25rem;
    font-weight: 400;

    &--gk {
      font-size: 1.9rem;
    }
  }
}
