.card {
  row-gap: 25px;
  margin-top: -38px;
}

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.card__gk {
  margin-top: 10px;
  font-size: 16px;
}

.card__metro {
  margin-top: 10px;
}

.card__actions {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
}

.card__price {
  margin-top: 15px;
}

.card__address {
  margin-top: 15px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
}

& .card__img {
  order: -1;
  margin: 0 -15px 20px -15px;
}

.card__data {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-top: 25px;
}

.card__deal {
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .card {
    margin-top: 0;
  }
  .card__gk {
    margin-top: 3px;
    font-size: 26px;
  }

  .card__actions {
    left: auto;
  }

  .card__img {
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .card__price {
    margin-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .card {
    display: grid;
    grid-template-columns: 775px 400px;
    column-gap: 25px;
  }

  .card__gk {
    font-size: 29px;
  }

  .card__content {
    grid-column: 1/-1;
    flex-direction: row;
    column-gap: 25px;
  }

  .card__wrapper {
    width: 775px;
  }

  .card__address span {
    font-size: 14px;
  }

  .card__metro {
    margin-top: 4px;
    margin-bottom: 5px;
  }

  .card__aside {
    width: 400px;
  }

  .card__price {
    display: none;
  }

  .card__actions {
    position: static;
    grid-area: controls;
    margin: 20px 0 15px;
  }

  .offer-price {
    margin-bottom: 0;
  }

  .card__img {
    order: 0;
    margin: 0;
  }

  .card__documents {
    grid-column: 1/2;
  }

  .card__statistics {
    grid-column: 1/2;
  }

  .card__mortgage {
    grid-column: 1/2;
  }

  .card__same {
    grid-column: 1/2;
  }

  .card__map {
    grid-column: 1/2;
  }

  .card__another {
    grid-column: 1/3;
  }

  .card__paper {
    grid-column: 1/3;
  }
}
