.cards-list {
  display: grid;
  gap: 15px;

  & li {
    background-color: var(--white);
    border-radius: 8px;
  }
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
  .cards-list {
    & li {
      // padding: 15px;
    }
  }
}
