.cards-list {
  display: grid;
//   grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  & li {
    padding: 15px;
    background-color: var(--white);
    border-radius: 8px;
  }
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
}
