.card-map {
  padding: 15px 15px 20px 15px;
  box-shadow: 0 0 10px var(--light-gray);

  & ul {
    margin-bottom: 10px;
  }
}

.card-map__wrapper {
  height: 300px;
}

@media (min-width: @tablet-width) {
  .card-map {
    border-radius: 5px;
  }

  .card-map__wrapper {
    height: 400px;
  }
}
