.card-image {
}

.card-image__wrapper {
  position: relative;
  height: 320px;

  & .card-image__button {
    height: 100%;
    width: 100%;
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:hover .slider {
    display: block;
  }

  @media (min-width: @tablet-width) {
    & img {
      border-radius: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 450px;
  }
}

.card-image__controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 14px;

  & .button {
    display: flex;
    // align-items: center;
    gap: 0 4px;
    padding: 3px 8px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    white-space: nowrap;
    font-weight: 700;
    // line-height: 24px;

    & span {
      line-height: 20px;
    }

    // &:first-of-type {
    //   display: none;
    // }

    // &:nth-of-type(2) {
    //   display: none;
    // }
  }

  & svg {
    stroke: var(--white);
  }

  @media (min-width: @tablet-width) {
    right: 50%;
    transform: translateX(50%);
    font-size: 16px;
    column-gap: 2px;

    & .button {
      font-weight: 400;

      // &:first-of-type {
      //   display: block;
      // }

      // &:nth-of-type(2) {
      //   display: block;
      // }
    }
  }
}
