.card-caption {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 15px;
  font-weight: 700;

  & span:first-child {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 7px;
    padding: 2px 12px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    background-color: rgb(241, 241, 244);

    &::before {
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: rgb(255, 90, 80);
    }
  }

  @media (min-width: @tablet-width) {
    column-gap: 7px;
    font-size: 1.6rem;
    font-weight: 400;

    & span:first-child {
      position: static;
      padding: 0;
      font-size: inherit;
      border-radius: 0;
      background-color: transparent;

      &::before {
        display: none;
      }
    }
  }
}

.section-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
