.catalog {
  row-gap: 0;

  & h1 {
    margin-bottom: 20px;
  }

  & > p {
    margin-bottom: 20px;
  }

  & .catalog-header {
    order: -1;
  }

  & .quick-links {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    & h1 {
      margin-bottom: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    & h1 {
      margin-bottom: 25px;
    }

    & > p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    .quick-links {
      margin-bottom: 45px;
    }
  }
}

.page__catalog2 {
  & .breadcrumbs {
    font-size: 13px;
  }

  & .catalog-header .filter {
    margin-bottom: 30px;
  }
  @media (min-width: @tablet-width) {
  }

  @media (min-width: @desktop-width) {
    & h1 {
      margin-bottom: 25px;
    }

    & > p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    .quick-links {
      margin-bottom: 45px;
    }
  }
}
