.catalog {
  row-gap: 0;

  & h1 {
    order: 1;
    margin-bottom: 20px;
  }

  .catalog-actions {
    margin-bottom: 10px;
  }

  .catalog__filter {
    display: none;
  }

  & .breadcrumbs {
    margin-bottom: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
  }

  & .quick-links {
    order: 2;
    margin-bottom: 20px;
  }

  & .catalog__view {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    margin-bottom: 10px;

    & p:nth-child(2) {
      display: none;
    }

    & p:nth-child(3) {
      margin-left: auto;
    }

    & p:last-child {
      display: none;
    }
  }

  & .catalog__list {
    order: 3;
  }

  @media (min-width: @tablet-width) {
    .breadcrumbs {
      margin-bottom: 25px;
    }

    & h1 {
      margin-bottom: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    .catalog-actions {
      display: none;
    }

    & .catalog__filter {
      display: block;
      padding-bottom: 25px;
      border-bottom: 1px solid var(--light-gray);
    }

    .breadcrumbs {
      margin-bottom: 45px;
      margin-top: 15px;
    }

    & h1 {
      margin-bottom: 45px;
    }

    .quick-links {
      margin-bottom: 45px;
    }

    & .catalog__view {
      & p:nth-child(2) {
        display: block;
      }

      & p:nth-child(3) {
      }

      & p:last-child {
        display: block;
      }
    }
  }
}
