.catalog-list {
  .catalog-list__header {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

    & button:first-of-type {
      display: none;
    }

    & .catalog-list__header-sort {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    & a {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .catalog-list__header {
      column-gap: 30px;
      font-size: 15px;

      & button:first-of-type {
        display: flex;
        align-items: center;
        column-gap: 5px;
      }

      & .button {
        align-self: stretch;
        padding: 0 10px;
        border: 1px solid var(--basic-green);
        border-radius: 5px;
        background-color: var(--extra-light-gray);
      }

      & .catalog-list__header-sort {
        & span {
          display: block;
        }
      }

      & a {
        display: flex;
        align-items: center;
        column-gap: 7px;

        & span {
          border-bottom: 1px dashed var(--basic-green);
        }
      }
    }
  }
}
