.catalog-header {
  margin-bottom: 20px;

  & .filter {
    // display: none;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 10;
    // background-color: var(--white);
  }

  @media (min-width: @desktop-width) {
    margin: 40px 0;

    .catalog-menu {
      display: none;
    }
  }
}
