.catalog-header {
  margin-bottom: 20px;

  & .filter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--white);
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-bottom: 40px;

    .catalog-menu {
      display: none;
    }

    & .filter {
      display: block;
      position: static;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--light-gray);
    }
  }
}
