.catalog-view {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;

  & p {
    font-weight: 500;
  }

  & button:first-of-type {
    display: none;
  }

  & .catalog-view__sort {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 3px;

    & span {
      display: none;
    }
  }

  & a {
    display: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 15px;

    & button:first-of-type {
      display: flex;
      align-items: flex-end;
      column-gap: 5px;
      margin-left: auto;
    }

    & .catalog-view__sort {
      margin-left: 0;
      padding: 0;

      & span {
        display: block;
      }

      & svg {
        width: 30px;
        height: 30px;
      }
    }

    & a {
      display: flex;
      align-items: center;
      column-gap: 2px;
    }
  }
}
