.content-box__header {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 8px;

  & p {
    font-size: 14px;
  }

  & > p {
    color: #737a8e;
    margin-top: 3px;
  }
}

@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
  .content-box {
  }

  .content-box__title {
    font-size: 16px;
    line-height: 26px;
  }

  .content-box__header-dev {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 10px;
    font-weight: 500;
  }
}
