.control {
  display: flex;
  column-gap: 3px;
  padding: 3px;
  border: 1px solid @light-gray;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    padding: 2px;
  }
}

.control--layout {
  @media (max-width: @mobile-width-only) {
    align-self: flex-start;
  }
}

.control__container {
  display: flex;
  min-width: 50px;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    min-width: 40px;
  }
}

.control__label {
  display: flex;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.control__text {
  width: 100%;
  margin: auto;
  padding: 7px 0;
  font-size: 14px;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    padding: 4px;
  }
}

.control__radio:checked + .control__text {
  color: @white;
  background-color: @basic-green;
}

.control__radio:hover + .control__text {
  padding: 6px 0;
  outline: 2px solid orange;

  @media (min-width: @tablet-width) {
    padding: 3px;
  }
}
