.button-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--extra-light-gray);

  &:hover {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    color: var(--white) !important;
  }

  &:active svg {
    stroke: var(--white);
  }

  @media (min-width: @small-tablet-width) {
    width: 40px;
    height: 40px;
    background-color: var(--extra-light-gray);
  }
}

.button-circle--dark {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  & svg {
    stroke: var(--white);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);

    & svg {
      stroke: var(--basic-black);
    }
  }
}

.button-gallery {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  & span:first-child {
    display: none;
  }

  & svg {
    stroke: var(--white);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);

    & svg {
      stroke: var(--basic-black);
    }
  }

  @media (min-width: @small-tablet-width) {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 0 10px;
    width: max-content;
    border-radius: 5px;
    font-size: 14px;
    color: var(--white);

    & span:first-child {
      display: block;
    }
  }
}
