.deal {
  @media (max-width: @mobile-width-only) {
    display: flex;
    column-gap: 5px;
  }
  @media (min-width: @tablet-width) {
    padding: 0;
    min-width: 90px;
  }
}

.deal__item {
  width: 50%;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    text-align: start;
    border: none;
    font-weight: 400;
  }
}

.deal__input-text {
  display: block;
  padding: 10px 0;
  width: 100%;
  border: 1px solid @light-gray;
  border-radius: 4px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    border: none;
    border-radius: 0;
    padding: 5px 10px;
  }
}

.deal__input:checked + .deal__input-text {
  background-color: @light-green;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    background-color: @basic-green;
    color: @white;
    font-weight: 400;
  }
}

.deal__input:hover + .deal__input-text,
.deal__input:focus + .deal__input-text {
  border: 1px solid @basic-green;

  @media (min-width: @tablet-width) {
    padding: 4px 9px;
  }
}
