.deal {
  @media (max-width: @mobile-width-only) {
    display: flex;
    column-gap: 7px;
  }

  @media (min-width: @tablet-width) {
    & > .deal__item > label > span {
      width: 120px;
      height: 40px;
    }
  }
}

.deal__item {
  width: 50%;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    text-align: start;
    font-weight: 400;
    border: none;
  }

  & .pseudo-input {
    position: relative;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }
}

.deal__item > input:checked + label > span::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    background-image: url('../img/icons/check-lg.svg');
    background-repeat: no-repeat;
  }
}
