.dot-list {
  & li {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: '';
      top: 7px;
      left: 5px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--basic-green);
    }
  }
}
