.experts h3 {
  font-size: 19px;
  font-weight: 400;
}

.experts--catalog {
  & h2 {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .experts__wrapper {
    flex-direction: row;

    & h3 {
      font-size: 18px;
    }
  }
}

.experts__wrapper {
  display: grid;
  row-gap: 20px;
}

.experts__realtors,
.experts__agencies {
  display: grid;
  row-gap: 20px;
  padding: 15px;
  border-radius: 5px;
}

.experts__list {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.experts__list-item:not(:last-child) {
  margin-right: 15px;
}

.experts__link-wrapper {
  padding-top: 11px;
  border-top: 1px solid var(--light-gray);
}

.experts__link {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &::after {
    content: "";
    width: 9px;
    height: 9px;
    border-top: 2px solid var(--basic-green);
    border-right: 2px solid var(--basic-green);
    transform: rotate(45deg);
  }
}

@media (min-width: @tablet-width) {
  .experts h3 {
    font-size: 20px;
  }

  .experts__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (min-width: @desktop-width) {
  .experts__wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }

  .experts__list {
    gap: 25px;
  }

  .experts__realtors,
  .experts__agencies {
    padding: 20px 25px;
  }

  .experts__list-item:not(:last-child) {
    margin-right: 0;
  }

  .experts__link {
    column-gap: 10px;
    padding: 5px 0;
    width: max-content;
  }
}
