.expert-card {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 48px;
  column-gap: 10px;
  width: 100%;
  height: 48px;
  font-size: 14px;
}

.expert-card__about {
  grid-column: 2/3;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  & h4,
  h3 {
    margin: 3px 0 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.expert-card__title {

}

.expert-card__avatar {
  grid-column: 1/2;
  grid-row: 1/2;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
  }
}

.expert-card--body {
  width: 48px;
}

@media (min-width: @tablet-width) {
  .expert-card {
    display: grid;
    padding: 2px;
    width: 100%;
    height: 52px;
    border-radius: 5px;
  }
}

:is(.experts__list-item) a {
  &:focus {
    background-color: #ebebfe;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px #74d099, 0 0 2px 3px #20a052;
  }

  &:hover {
    background-color: #efeffa;
  }

  &:active {
    background-color: #ebebfe;
  }
}
