.experts {
  & h3 {
    font-size: 23px;
    font-weight: 400;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'caption caption'
      'left right';
    column-gap: 20px;
  }

  & h2 {
    grid-area: caption;
  }

  & .realtors {
    grid-area: left;
  }

  & .agencies {
    grid-area: right;
  }
}

.experts__realtors,
.experts__agencies {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-color: var(--light);
  padding: 15px;
  border-radius: 5px;
}

.experts__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 14px;

  & a {
    display: grid;
    grid-template-columns: 45px max-content;
    column-gap: 10px;
    row-gap: 5px;
    border-radius: 5px;
  }

  & div {
    width: 45px;
    height: 45px;
    grid-column: 1/2;
    grid-row: 1/4;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
  }

  & img {
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top;
  }

  & h4 {
    margin-top: 3px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}

.experts__button-wrapper {
  margin-top: auto;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
  }

  & a {
    color: var(--blue);

    @media (min-width: @tablet-width) {
      display: flex;
      margin-left: auto;
      width: max-content;
    }
  }

  & span {
    border-bottom: 1px solid var(--blue);
  }
}
