.featured-article {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  //   accent-color: #f498ad;

  & a::after {
    content: "";
    position: absolute;
    inset: 0;
  }
}
