.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: none;
}

.feed h2 {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 24px; /* new */
}

.tariff {
  margin-bottom: 30px;
}

.tariff__wrapper {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.tariff__item {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 20px;
  max-width: 400px;
  box-sizing: border-box; /* new */
  background-color: #def6e7;
  border-radius: 5px;
}

.tariff__item h3 {
  position: relative;
  margin: 0; /* new */
  padding-bottom: 5px;
  font-size: 18px; /* new */
  font-weight: 700;
  border-bottom: 1px solid #e5e5e5;
}

.tariff__item--free h3::after {
  position: absolute;
  content: 'Тариф по-умолчанию';
  top: -2px;
  left: 105px;
  padding: 0 3px;
  width: auto;
  height: 14px;
  font-size: 11px;
  font-weight: 400;
  background-color: #e5e5e5;
  border-radius: 2px;
}

.tariff__item--paid {
  box-shadow: 0 0 10px #e5e5e5;
}

.tariff__item--paid h3::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZmlsbDogcmdiYSgyNTMsMjA3LDg4KTt0cmFuc2Zvcm06IDttc0ZpbHRlcjo7Ij48cGF0aCBkPSJNMTYuNSA4YzAgMS41LS41IDMuNS0yLjkgNC4zLjctMS43LjgtMy40LjMtNS0uNy0yLjEtMy0zLjctNC42LTQuNi0uNC0uMy0xLjEuMS0xIC43IDAgMS4xLS4zIDIuNy0yIDQuNEM0LjEgMTAgMyAxMi4zIDMgMTQuNSAzIDE3LjQgNSAyMSA5IDIxYy00LTQtMS03LjUtMS03LjUuOCA1LjkgNSA3LjUgNyA3LjUgMS43IDAgNS0xLjIgNS02LjQgMC0zLjEtMS4zLTUuNS0yLjQtNi45LS4zLS41LTEtLjItMS4xLjMiPjwvcGF0aD48L3N2Zz4K);
  background-repeat: no-repeat;
}

.tariff__item ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tariff__item ul li {
  position: relative;
  padding-left: 25px;
  margin: 0; /* new */
  font-size: 15px; /* new */
  line-height: 18px; /* new */
}

.tariff__item ul li::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0iIzIwYTA1MiIgY2xhc3M9ImJpIGJpLWNoZWNrLWxnIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0xMi43MzYgMy45N2EuNzMzLjczMyAwIDAgMSAxLjA0NyAwYy4yODYuMjg5LjI5Ljc1Ni4wMSAxLjA1TDcuODggMTIuMDFhLjczMy43MzMgMCAwIDEtMS4wNjUuMDJMMy4yMTcgOC4zODRhLjc1Ny43NTcgMCAwIDEgMC0xLjA2LjczMy43MzMgMCAwIDEgMS4wNDcgMGwzLjA1MiAzLjA5MyA1LjQtNi40MjVhLjI0Ny4yNDcgMCAwIDEgLjAyLS4wMjJaIi8+Cjwvc3ZnPgo=);
}

.tariff__box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #20a052;
  border-radius: 5px;
}

.tariff__box p {
  margin: 0; /* new */
  line-height: 20px;
}

.tariff__item a {
  color: #20a052;
  border-bottom: 1px solid #20a052;
}

.feed__note {
  padding: 20px;
  margin-bottom: 10px;
  width: 820px;
  box-sizing: border-box; /* new */
  box-shadow: 0 0 10px #e5e5e5;
  border-radius: 5px;
}

.feed__note ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feed__note ul li {
  position: relative;
  padding-left: 20px;
  margin: 0; /* new */
  font-size: 15px; /* new */
  line-height: 18px; /* new */
}

.feed__note ul li::before {
  position: absolute;
  content: '';
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #20a052;
  border-radius: 50%;
}

.feed__note a {
  color: #20a052;
  border-bottom: 1px solid #20a052;
}
