.filter {
  @media (min-width: @desktop-width) {
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
  }
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

// select

.filter__select {
  display: flex;
  border: 1px solid @gray;
  margin-top: 5px;
  border-radius: 4px;
  // width: 105px;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    // display: block;
    width: 105px;
    flex-direction: column;
    position: absolute;
    background-color: @white;

    &--disabled {
      display: none;
    }
  }
}

.filter__deal-item {
  flex-grow: 1;
  text-align: center;

  @media (max-width: 1239px) {
    &--current {
      background-color: @light-green;
      font-weight: 700;
    }
  }

  @media (min-width: @desktop-width) {
    flex-grow: 0;
    text-align: start;
  }
}

.filter__deal-label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 10px 16px 10px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    padding: 5px 10px;

    &:hover {
      background-color: @basic-green;
      color: @white;
    }
  }
}
