.filter {
  height: 100vh;
}

.filter__content {
  padding: 20px 15px 15px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  height: calc(100% - 59px - 81px);
  overflow-y: auto;
}

.filter__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  & legend {
    padding-bottom: 8px;
    font-weight: 500;
  }
}

.filter__selected {
  margin-top: 10px;
}

.filter__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 35px;
  padding: 16px 15px;
  border-top: 1px solid rgb(209, 209, 213);

  & > .button > span {
    width: max-content;
    border-bottom: 1px dashed var(--basic-green);
  }
}

@media (min-width: @tablet-width) {
  .filter__content {
    padding: 20px;
  }
}

@media (min-width: @desktop-width) {
  .filter {
    display: flex;
    column-gap: 10px;
    height: auto;
    z-index: 10;
  }

  .filter__content {
    flex-grow: 1;
    padding: 0;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    overflow: visible;
  }

  .filter__item {
    position: relative;
  }

  .filter__item:last-of-type {
    flex-grow: 1;
  }

  .button-filter[aria-expanded='false'] + .filter__fieldset {
    display: none;
  }

  .filter__fieldset {
    z-index: 1;
  }

  .filter__fieldset-deal,
  .filter__fieldset-type,
  .filter__fieldset-price,
  .filter__fieldset-rooms,
  .filter__fieldset-add {
    width: max-content;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    border-radius: 5px;
  }

  .filter__fieldset-deal,
  .filter__fieldset-type,
  .filter__fieldset-price,
  .filter__fieldset-rooms {
    position: absolute;
    top: 40px;
    width: max-content;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .filter__fieldset-add {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .filter__fieldset-type,
  .filter__fieldset-rooms,
  .filter__fieldset-price {
    padding: 15px;
  }

  .filter__footer {
    display: block;
    padding: 0;
    border: none;

    & .button-submit {
      height: 100%;
    }
  }
}
