.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 15px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    column-gap: 15px;
    row-gap: 10px;
  }
}
