.filter-rooms__list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

@media (max-width: @mobile-tablet-width) {
  .filter-rooms__list li:first-child .filter-rooms__control {
    width: min-content;
  }

  .filter-rooms__list input:checked + label .filter-rooms__control {
    padding: 12px 19px 13px 19px;
    border-width: 2px;
    border-color: var(--basic-green);
    background-color: var(--light-blue);
  }

  .filter-rooms__list input:hover + label .filter-rooms__control {
    border-color: var(--basic-green);
  }

  .filter-rooms__list input:focus-visible + label .filter-rooms__control {
    box-shadow: 0 0 0 1px #ffffff, 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
  }

  .filter-rooms__control {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    padding: 13px 20px 14px 20px;
    height: 48px;
    width: 48px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (min-width: @desktop-width) {
  .filter-rooms {
    & .button-main {
      padding: 6px;
      margin-top: 10px;
      width: 100%;
    }
  }

  .filter-rooms__list {
    flex-direction: column;
    gap: 8px 0;
    width: 200px;
    font-size: 15px;

    & li {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
    }

    & label {
      padding: 2px 2px 2px 10px;
      width: 100%;
      cursor: pointer;
    }

    & input {
      position: relative;
      width: 17px;
      height: 17px;
      background: none;
      border-radius: 3px;
      border: 1px solid #666;
      -webkit-appearance: none;

      &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 50%;
        transition: transform 0.2s ease-in-out;
        border-bottom: 2px solid var(--basic-green);
        border-right: 2px solid var(--basic-green);
        transform: translateX(-50%) rotate(40deg) scale(0);
        width: 40%;
        height: 60%;
      }
    }

    & input:checked {
      border-color: var(--basic-green);
      box-shadow: inset 0 0 20px 3px var(--light-green);

      &::before {
        transform: translateX(-50%) rotate(40deg) scale(1);
      }
    }
  }
}
