.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & h2 {
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.filter__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  & legend {
    padding-bottom: 3px;
  }

  &-add {
    @media (max-width: @mobile-width-only) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      order: 1;
    }
  }
}

.filter__select {
  border-radius: 5px;
  // display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-top: 7px;
    width: max-content;
    border: 1px solid var(--light-gray);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    z-index: 1;

    &-add {
      margin: 0;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
      z-index: 2;
    }
  }
}

.button-filter[aria-expanded='false'] + .filter__select {
  display: none;
}

.filter__select-deal {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.filter__select-price {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.filter__fieldset-search {
  position: relative;
  flex-grow: 1;
}

@media (max-width: @mobile-width-only) {
  .filter__select-deal,
  .filter__select-price {
    display: block;
  }
}
