.filter-price {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.filter-price__list {
  display: flex;
  column-gap: 7px;

  & li {
    flex-grow: 1;
  }

  & label {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 14px;
  }
}

.filter-price__switch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7px;
}

@media (min-width: @desktop-width) {
  .filter-price {
    & .button-main {
      display: block;
      padding: 6px;
      margin-top: 7px;
      width: 100%;
    }
  }

  .filter-price__list {
    max-width: 300px;

    & .input {
      padding: 5px 25px 5px 10px;
    }
  }

  .filter-price__switch .pseudo-radio {
    padding: 5px;
  }

  .filter-price__switch .input:checked + label .pseudo-radio {
    padding: 5px;
  }
}
