.filter-add {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.filter-add__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
}

.filter-add__body {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.filter-add__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-add__space {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;

  & li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 7px;
    align-items: center;
  }

  & p {
    grid-column: 1/3;
  }
}

.filter-add__list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.filter-add__list--square li .filter-control {
  width: 48px;
}

.filter-add__legend {
  font-size: 16px;

  & br {
    display: none;
  }
}

.filter-add__list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 7px;
  width: 100%;
}

.filter-add__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 7px;
}

.filter-add__check-list {
  display: flex;
  flex-direction: column;
  gap: 15px 0;

  & li {
    display: flex;
    gap: 0 10px;
    align-items: center;
  }
}

.filter-add__selected {
  margin-top: 10px;
}

@media (min-width: @desktop-width) {
  .filter-add {
    row-gap: 0;
    max-width: 950px;
    min-width: 850px;
    max-height: 70vh;
    z-index: 2;
  }

  .filter-add__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;

    & .button-close {
      position: relative;
      right: -10px;
    }
  }

  .filter-add__body {
    gap: 0;
    height: calc(100% - 50px - 80px);
    padding: 10px 15px;
    overflow-y: auto;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
  }

  .filter-add__item {
    padding: 12px 15px;
    border-radius: 5px;

    &:hover {
      background-color: var(--extra-light-gray);

      & .filter-add__selected li {
        border-color: var(--gray);
      }
    }
  }

  .filter-add__fieldset {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    align-content: center;
    padding: 0;
  }

  .filter-add__legend {
    grid-column: 1/2;
    position: absolute;
    font-size: 15px;

    & br {
      display: block;
    }
  }

  .filter-add__wrapper {
    grid-column: 2/3;
    column-gap: 15px;
  }

  .filter-add__space {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 20px;

    & li {
      display: flex;
      column-gap: 4px;

      & p {
        margin-right: 5px;
      }
    }
  }

  .filter-add__list--square li .filter-control {
    width: 40px;
  }

  .filter-add__list-grid {
    width: max-content;

    & input {
      max-width: 80px;
    }
  }

  .filter-add__check-list {
    flex-direction: row;
    gap: 0 25px;
  }
}

.filter-add__way {
  display: flex;
  column-gap: 7px;
  flex-wrap: wrap;
  row-gap: 5px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
  }
}

.filter-add__keywords {
  flex-direction: column;
  align-items: stretch;
  row-gap: 15px;

  & label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.filter-add__footer {
  display: flex;
  margin: auto;
  align-items: center;
  column-gap: 35px;
  min-height: 80px;
  max-height: 80px;

  & > .button > span {
    text-wrap: nowrap;
    border-bottom: 1px dashed var(--basic-green);
  }
}
