.flats-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: auto;

  & ul {
    display: grid;
    grid-template-columns: 110px 1fr 1fr 1fr;
    // font-weight: 300;
    font-size: 14px;

    & li:nth-of-type(2),
    li:nth-of-type(3) {
      color: #737a8e;
    }

    & a {
      color: var(--basic-green);
    }
  }
}
