.flats-list {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  margin-top: 10px;

  & ul {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    column-gap: 5px;

    & li {
      line-height: 30px;
    }

    & li:nth-of-type(2),
    li:nth-of-type(3) {
      color: #737a8e;
    }

    & li:nth-of-type(4) {
      display: none;
    }

    & li:nth-of-type(2) {
      margin-left: auto;
    }

    & li:nth-of-type(3) {
      margin-left: auto;
    }

    & a {
      display: block;
      color: var(--basic-green);
    }
  }

  & p {
    margin-top: 10px;

    & a {
      color: var(--basic-green);
    }
  }
}

@media (min-width: @tablet-width) {
  .flats-list {
    margin-top: auto;

    & ul {
      margin-top: auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .flats-list {
    & ul {
      grid-template-columns: 110px 1fr 1fr 1fr;

      & li:nth-of-type(4) {
        display: block;
      }

      & li:nth-of-type(2),
      li:nth-of-type(3) {
        margin-left: 0;
      }
    }
  }
}
