.flats-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: auto;

  & ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  & a {
    color: var(--basic-green);
  }
}
