.footer {
  padding: 30px 0;
  background-color: var(--extra-light-gray);

  & div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    align-items: center;

    & p {
      padding: 0;
      margin: 0;
    }

    & ul:first-of-type {
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      align-content: center;
      margin: 10px 0 0 -5px;

      & a {
        display: block;
        padding: 6px 5px;
      }
    }

    @media (min-width: @tablet-width) {
      & ul:first-of-type {
        margin: 10px 0;
      }
    }

    @media (min-width: @desktop-width) {
      row-gap: 5px;
      column-gap: 40px;
    }
  }
}
