.genPlan {
  display: flex;
  flex-direction: column;

  @media (min-width: @large-desktop-width) {
    width: 100%;
    max-width: 1600px;

    & h2 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  margin: 0 auto;
}

.genPlan__container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  & img {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    & path:hover {
      fill: rgba(0, 0, 0, 0.4);
      transition: opacity 0.3 ease;
    }
  }
}

.mapTag {
  position: absolute;
  left: 34%;
  top: 33%;
  cursor: pointer;
}

.mapTag__container {
  position: relative;
}

.mapTag__point {
  width: 17px;
  height: 17px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: var(--blue);
}

.mapTag__banner {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2px;
  width: max-content;
  background-color: var(--white);
  border-radius: 2px;
}

.mapTag__offer {
  display: none;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  // transform: translateY(-100%);
  padding: 10px;
  width: max-content;
  background-color: var(--white);
  border-radius: 5px;
}

.genPlan__container svg:hover .mapTag__offer {
  display: block;
}
