@media (min-width: @desktop-width) {
  .geo-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: -10px;
    padding-left: 10px;
    height: max-content;
    max-height: calc(100vh - 430px);
    overflow: auto;

    & div {
      display: inline-block;
      width: 100%;
    }

    & ul:not(:last-child) {
      margin-bottom: 25px;
    }

    & ul li:first-child {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 16px;
    }

    & ul li .button {
      padding: 5px;
      margin-left: -5px;
      text-align: start;
      border-radius: 5px;
      font-size: 14px;

      &:hover {
        color: var(--basic-green);
      }

      &:active {
        color: var(--white);
        background-color: var(--basic-green);
      }
    }
  }

  .geo-list__selected {
    background-color: var(--basic-green);
    color: var(--white);

    &:hover {
      color: var(--white) !important;
    }
  }
}
