@media (min-width: @desktop-width) {
  .geo-list {
    margin-left: -10px;
    padding-left: 10px;
    max-height: calc(100vh - 430px);
    overflow: auto;

    & p {
      position: relative;
      top: 5px;
      font-weight: 500;
      font-size: 16px;
    }

    & ul li .button {
      padding: 5px;
      margin-left: -5px;
      text-align: start;
      border-radius: 5px;
      font-size: 14px;

      &:hover {
        color: var(--basic-green);
      }

      &:active {
        color: var(--white);
        background-color: var(--basic-green);
      }
    }
  }

  .geo-list__wrapper {
    width: 100%;
    columns: 3;

    & div {
      margin-bottom: 25px;
      display: flex;
      gap: 0 10px;
    }
  }

  .geo-list__selected {
    background-color: var(--basic-green);
    color: var(--white);

    &:hover {
      color: var(--white) !important;
    }
  }
}
