.gk-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .gk-address__wrapper {
    margin-bottom: 10px;

    & address {
      margin-bottom: 10px;
    }

    & p {
      margin-bottom: 5px;
    }
  }

  & a {
    display: inline-block;
    height: 100px;

    & img {
      height: 100%;
      border-radius: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    .gk-address__wrapper {
      margin-bottom: 0;

      & p {
        margin-bottom: 0;
      }
    }

    & a {
      height: 100px;

      & img {
        border-radius: 5px;
      }
    }
  }
}
