.gk-bid {
  height: 100%;

  & > a {
    margin-top: 15px;
    padding: 9px 0;
  }

  & ul {
    row-gap: 10px;
  }
}

@media (min-width: @desktop-width) {
  .gk-bid {
    & h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
