.gk-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: calc(100vw - 30px);
  font-size: 15px;
  overflow-x: scroll;
  scrollbar-width: none;

  & li {
    display: flex;

    & .button {
      width: max-content;
    }
  }
}

@media (min-width: @tablet-width) {
  .gk-filter {
    margin-bottom: 30px;
    width: calc(100vw - 80px);
  }

  .gk-filter--rooms:first-of-type {
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop-width) {
  .gk-filter {
    width: 100%;
  }
}
