.gk-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 15px;

  & li {
    display: flex;
  }
}

@media (min-width: @tablet-width) {
  .gk-filter {
    margin-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .gk-filter--rooms:first-of-type {
    margin-bottom: 15px;
  }
}
