.gk-offers__item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
  padding: 12px 0;

  &-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 7px;
    row-gap: 5px;

    & h3 {
      grid-column: 1/2;
      width: max-content;
      font-size: 15px;
      line-height: 17px;
    }

    & p:last-of-type {
      grid-column: 1/-1;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  & .button {
    position: relative;
    padding-right: 20px;
    text-align: right;
    color: var(--basic-green);

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url(../img/icons/arrow.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  & .gk-offers__button-wrapper {
    margin: auto 0 auto auto;
  }
}

.gk-offers__item:last-of-type {
  border-bottom: 1px solid var(--light-gray);
}

@media (min-width: 600px) {
  .gk-offers__item {
    justify-content: start;
    padding: 16px 0;

    &-wrapper {
      flex-grow: 1;
      display: flex;
      column-gap: 6px;
      max-width: calc(100% - 190px);

      & p {
        min-width: max-content;
      }

      & p:first-of-type {
        margin-right: auto;
        width: 80px;
        // color: rgba(0, 0, 0, .5);
      }

      & p:last-of-type {
        width: 150px;
        text-align: right;
        color: inherit;
      }
    }

    & .gk-offers__button-wrapper {
      width: 170px;
      text-align: right;
    }
  }
}

@media (min-width: @tablet-width) {
  .gk-offers {
    font-size: inherit;
  }

  .gk-offers__item {
    justify-content: space-between;
    column-gap: 20px;

    &-wrapper {
      column-gap: 20px;
      width: calc(100% - 20px - 170px);

      & h3 {
        font-size: 16px;
        font-weight: 500;
      }

      & p:first-of-type {
        margin-right: 0;
        margin-left: auto;
        text-align: right;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .gk-offers__item {
    column-gap: 35px;
    &-wrapper {
      column-gap: 35px;
      width: calc(100% - 35px - 170px);
    }
  }
}

.gk-offers__summary {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 26px;

  & p {
    margin-left: auto;
  }

  & a {
    color: var(--basic-green);
  }
}
