.gk-presentation__wrapper {
  & .gk-presentation__video {
    position: relative;
    margin-bottom: 30px;
    height: 280px;

    & iframe {
      width: 100%;
      height: 100%;
    }

    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
    }
  }

  .gk-presentation__description {
    & p {
      // text-indent: 20px;
      line-height: 22px;
    }

    & p:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    & .gk-presentation__video {
      height: 500px;
    }

    & p {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
    }
  }

  @media (min-width: @desktop-width) {
    & p {
      width: 50%;
    }
  }
}
