.gk__header {
  height: calc(100vh - 63px);
  display: grid;
  grid-template-rows: 60% 40%;

  & .wrapper-content {
    grid-row: 2/-1;
    grid-column: 1/-1;
  }
}

.gk__header-line {
  display: none;
}

.gk__preview {

  & h1 {
    // font-size: 2.5;
  }

  & address {
    display: none;
  }
}

.gk__preview-contacts {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;

  & button {
    flex-grow: 1;
  }
}

.navbar {
  display: none;
}

.gk__banner {
  grid-row: 1/2;
  grid-column: 1/-1;
  z-index: -1;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: @tablet-width) {
  .gk__header {
    height: calc(100vh - 62px);
    grid-template-rows: repeat(20, 5%);

    & .wrapper-content {
      grid-row: 1/-1;
    }
  }

  .gk__header-line {
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0));
    display: block;
    grid-row: 12/-1;
    grid-column: 1/-1;
  }

  .gk__layout {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 5%);
  }

  .gk__preview {
    margin-top: 10px;
    grid-row: 12/19;
    grid-column: 1/8;
    color: var(--white);

    @media (min-height: 1200px) {
      grid-row: 14/19;
    }

    & .gk__preview-logo {
      padding: 5px;
      width: 130px;
      background-color: var(--white);
      border-radius: 5px;
      margin-bottom: 10px;
    }

    & h1 {
      font-size: 2.5em;
      font-weight: 700;
    }

    & address {
      display: block;
      margin-bottom: 10px;
      font-style: normal;
    }

    .gk__preview-message {
      margin-bottom: 10px;
      font-size: 1.4em;
    }

    .gk__price {
      font-size: 1.6em;
    }
  }

  .gk__preview-gallery {
    grid-column: 11/13;
    margin-left: auto;
    margin-top: 10px;

    & .button--gk {
      background-color: var(--white);
      padding: 5px;
      border-radius: 5px;
    }
  }

  .gk__preview-contacts {
    grid-row: 16/17;
    grid-column: 8/12;
    margin-right: auto;
    margin-top: auto;
  }

  .navbar {
    display: block;
    grid-column: 1/-1;
    grid-row: 20/21;
    margin: auto auto 0 auto;

    & ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      background-color: var(--white);
      border-radius: 5px;

      & li a {
        padding: 10px;
        display: block;
      }
    }
  }

  .gk__banner {
    grid-row: 1/-1;

    & img {
      height: 100%;
      object-fit: cover;
    }
  }
}
