.gkFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  & li {
    display: flex;
  }

  & li:not(:first-child) span:first-child::after {
    position: absolute;
    content: '';
    top: 0;
    right: -25px;
    width: 17px;
    height: 17px;
    background-image: url(../img/icons/house.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  & .button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & span {
      position: relative;
    }

    & span:not(:first-child) {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

@media (min-width: @tablet-width) {
  .gkFilter {
    margin-bottom: 30px;
  }
}

.gkFilter--rooms {
  & li:not(:first-child) span:first-child::after {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .gkFilter--rooms:first-of-type {
    margin-bottom: 15px;
  }
}
