.gkPromotion {
  & p,
  li {
    font-size: 15px;
    line-height: 22px;
  }

  & .button-main {
    margin-top: 20px;
  }

  @media (min-width: @desktop-width) {
    & .button-main {
      display: flex;
      margin-left: auto;
    }
  }
}

.gkPromotion__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & h3 {
    font-weight: 500;
    margin-bottom: 10px;
  }

  & section {
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 20px;

    & h3 {
      margin-bottom: 15px;
      font-size: 20px;
    }

    & section:first-of-type {
      grid-column: 1/-1;
      padding-bottom: 20px;
    }

    & section:not(:first-of-type) {
      display: grid;
      grid-template-rows: min-content 1fr min-content;
      padding: 15px 10px 20px 10px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gkPromotion__payment {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  & li {
    position: relative;
    padding: 10px 12px;
    border-radius: 5px;
    background-color: var(--light-blue);
    // box-shadow: 0 0 10px var(--light-gray);
  }

  & li:first-of-type::before {
    position: absolute;
    content: 'На покупку в домах 5.1 и 5.2';
    top: -17px;
    right: 0;
    padding: 2px;
    font-size: 13px;
    line-height: 13px;
    background-color: #ffbb00;
    border-radius: 2px;
  }

  & div {
    display: flex;
    justify-content: space-between;
    font-size: 15px;

    & dl {
      & dd {
        font-weight: 500;
      }
    }
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gkPromotion__ending {
  position: relative;
  margin-top: 25px;
  padding-left: 40px;

  &::before {
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url('../img/icons/real-time.png');
  }

  & time {
    font-size: 15px;
    font-weight: 500;
  }
}
