.gkPresentation__wrapper {
  & .gkPresentation__video {
    position: relative;
    margin-bottom: 30px;
    height: 280px;

    border: 1px solid var(--light-gray);

    & span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
    }
  }

  .gkPresentation__description {
    & p {
      text-indent: 30px;
      line-height: 22px;
    }

    & p:first-of-type {
      margin-bottom: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    & .gkPresentation__video {
      height: 500px;
    }

    & p {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
    }
  }

  @media (min-width: @desktop-width) {
    & p {
      width: 50%;
    }
  }
}
