html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: none;
}

.visually-hidden-desktop {
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: none;
  }
}

.visually-hidden-mobile {
  @media (max-width: 640px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: none;
  }
}

.visually-hidden-small-mobile {
  @media (max-width: 640px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: none;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
figure {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  // shape-margin: 0.75rem;
}

::placeholder {
  // color: var(--gray);
  font-size: inherit;
}

a {
  text-decoration: none;
  outline: none;

  &:visited {
    color: inherit;
  }
}

:is(.navigation, .user-actions, .user-nav, .nav-section, .experts, .new-buildings, .articles, .news, .modal, .auth, .navbar, .breadcrumbs, .gk-offers, .developerAbout, .gk-progress, .page__footer) a {
  color: inherit;

  &:focus-visible {
    // box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 2px 3px #74d099, inset 0 0 2px 3px #20a052;
  }
}

// links

:is(.nav-section, .footer) a {
  color: #20a052;
}

:is(.nav) a {
  color: inherit;
  // border-radius: 5px;

  &:focus-visible {
    // box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 2px 3px rgb(166, 229, 255), inset 0 0 2px 3px rgb(0, 106, 255);
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 2px 3px #74d099, inset 0 0 2px 3px #20a052;
  }
}

// :is(.navigation, .modal) .button {
//   &:focus {
//     box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
//   }
// }

:is(.main-nav, .user-actions, .user-nav) svg {
  // fill: var(--blue);
  fill: #20a052;
}

:is(.location) a {
  &:hover {
    color: var(--basic-grren);
    font-weight: 700;
  }

  &:focus {
    color: var(--basic-grren);
    font-weight: 700;
  }
}

:is(.new-bldg) a {
  &:hover {
    color: inherit;
  }
}
