.hints {
  display: none;
  position: absolute;
  padding: 15px 0;
  overflow-y: scroll;
  background-color: var(--white);
  z-index: 1;
  // box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
}

.hints--geo {
  height: calc(100vh - 72px);
}

.hints__section {
  font-size: 15px;
  line-height: 18px;

  & p {
    margin: 0 15px 8px;
    padding: 4px 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjIyIiB2aWV3Qm94PSIwIDAgNDAgNDAiIHdpZHRoPSIyMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMjAuNTM1NyAzNXYtMjVjMC0uOTIwNDYtLjc0NjItMS42NjY2Ni0xLjY2NjctMS42NjY2NmgtMTEuMzY5MDJjLS45MjA0NyAwLTEuNjY2NjcuNzQ2MTktMS42NjY2NyAxLjY2NjY2djEzLjgxNTggMTEuMTg0MnptMCAwaDQuMzcwNm0tMTUuNjIwNjEtMjIuNWgyLjUwMDAxbS0yLjUwMDAxIDMuMzMzM2gyLjUwMDAxbS0yLjUwMDAxIDMuMzMzNGgyLjUwMDAxbTIuOTE2Ny02LjY2NjdoMi41bS0yLjUgMy4zMzMzaDIuNW0tMi41IDMuMzMzNGgyLjVtLTcuOTE2NzEgMy4zMzMzaDIuNTAwMDFtMi45MTY3IDBoMi41bS03LjkxNjcxIDMuMzMzM2gyLjUwMDAxbTIuOTE2NyAwaDIuNW0xNi4wNDUyIDIuMzUzdjUuMTQ3YzAgLjkyMDUtLjc0NjIgMS42NjY3LTEuNjY2NyAxLjY2NjdoLTIuOTYyMm0tNi43MjcxLTExLjI3MTIgNC4xNTU0LTMuNDA3NmMuMjI0NS0uMTk5OC41MjA0LS4zMjEyLjg0NDYtLjMyMTJzLjYyMDEuMTIxNC44NDQ3LjMyMTJsOC4zMjIgNy41NzQzbS0xMS4xNTIgNy4xMDQ1aDMuNzEyNG0tMy43MTI0IDB2LTIuNzU3M20zLjcxMjQgMi43NTczdi01LjUxNDdoLTMuNzEyNHYyLjc1NzRtMCAwaDEuOTc0IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS42Ii8+PC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: center left;
  }

  & ul {
    color: rgba(0, 0, 0, 0.6);

    & li {
      padding: 5px 45px;
      cursor: pointer;
    }

    & li:hover {
      background-color: var(--light-green);
      color: var(--basic-black);
    }
  }
}

.hints__section-metro ul li {
  display: flex;
  align-items: center;
  gap: 0 3px;
}

.hints__section:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: @desktop-width) {
  .hints {
    border: 1px solid var(--gray);
    border-radius: 5px;
    width: 100%;
    border: none;
    box-shadow: 0 2px 5px var(--light-gray);
  }

  .hints--geo {
    top: 40px;
    height: 500px;
  }
}

.hints--location {
  top: auto;
  box-shadow: 0 0 10px var(--light-gray);
  font-size: 13px;

  @media (min-width: @desktop-width) {
    top: 44px;
    width: 55%;
  }
}
