.index-nav__title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
}

.index-nav__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  gap: 15px;

  & li {
    & a {
      display: flex;
      flex-direction: column;
      gap: 6px 0;
      padding: 9px 14px 6px 14px;
      width: 100%;
      font-size: 15px;
      border-radius: 5px;
      

      & span {
        font-weight: 500;
        line-height: 21px;
      }

      & svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .index-nav__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: @desktop-width) {
  .index-nav__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
  }

  .index-nav__list {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;

    & li {
      & a {
        gap: 27px 0;
        padding: 16px;
        width: 100%;
        font-size: 16px;

        & span {
          font-size: 18px;
        }

        & svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
