input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  padding: 0;
}

::placeholder {
  // color: black;
}

.input {
  // position: relative;
  -webkit-appearance: none;
  // outline: none;
  // appearance: none;

  &:checked + label .pseudo-radio,
  &:checked + label .pseudo-checkbox {
    font-weight: 500;
    background-color: var(--light-blue);
    border-color: var(--blue);
    color: var(--blue);
  }

  &:hover {
    border: 1px solid var(--blue);
    color: var(--dark-blue);
  }

  &:focus + label .pseudo-radio,
  &:focus + label .pseudo-checkbox {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
  }

  &:focus {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
  }
}

// .input-radio {
//   @media (min-width: @tablet-width) {
//     -webkit-appearance: block;
//   }
// }

.pseudo-radio,
.pseudo-checkbox {
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: var(--dark-blue);
    border-color: var(--blue);
  }
}

.pseudo-radio {
  padding: 13px 15px;

  @media (min-width: @tablet-width) {
    padding: 9px 16px;
  }
}

.pseudo-checkbox {
  padding: 13px 20px;

  @media (min-width: @tablet-width) {
    padding: 9px 16px;
  }
}

.input--field {
  display: block;
  width: 100%;
  padding: 13px 30px 13px 15px;
  line-height: 20px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet-width) {
    padding: 9px;
  }
}

.input-checkbox {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  accent-color: var(--blue);
}
