.input-range {
  & label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
  }

  & output {
    font-size: 14px;
    padding: 3px 3px 2px 3px;
    border: 2px solid var(--basic-green);
    border-radius: 5px;
  }
}

.input-range__wrapper:has(.input:focus-visible) {
  border-color: var(--basic-green);
}

.input-range__wrapper:has(.input:hover) {
  border-color: var(--basic-green);
}

.input-range__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 5px 5px 5px 4px;

  & .input {
    flex-grow: 1;
    border: none;
    box-shadow: none;
  }

  & .input-range__rub {
    text-align: center;
    width: 30px;
  }
}

.input-range__scale {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 80%;
  height: 4px;
  background-color: var(--basic-green);
}

.input-range__control {
  position: absolute;
  bottom: 1px;
  left: 80%;
  transform: translate(-50%, 50%);
  width: 28px;
  height: 28px;
  cursor: pointer;
  box-shadow: 0 0 10px var(--light-gray);
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .input-range__wrapper input {
    padding: 11px 9px 11px 9px;
  }
}

@media (min-width: @desktop-width) {
  .input-range__control {
    width: 20px;
    height: 20px;
  }
}
