input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  padding: 0;
}

::placeholder {
  // color: #8593a5;
  color: #666666;
}

.input {
  // position: relative;
  -webkit-appearance: none;
  outline: none;
  // appearance: none;

  &:checked + label .pseudo-radio,
  &:checked + label .pseudo-checkbox {
    background-color: var(--light-blue);
    border-color: var(--basic-green);
  }

  &:hover {
    border: 1px solid var(--basic-green);
    color: var(--basic-green);
  }

  &:focus-visible + label .pseudo-radio,
  &:focus-visible + label .pseudo-checkbox {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
  }
}

.pseudo-radio,
.pseudo-checkbox {
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: var(--basic-green);
    border-color: var(--basic-green);
  }
}

.pseudo-radio {
  padding: 13px 15px;

  @media (min-width: @tablet-width) {
    padding: 9px 16px;
  }
}

.pseudo-checkbox {
  padding: 13px 20px;

  @media (min-width: @tablet-width) {
    padding: 9px 16px;
  }
}

.input--field {
  display: block;
  width: 100%;
  padding: 13px 30px 13px 15px;
  line-height: 20px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;

  @media (min-width: @tablet-width) {
    padding: 9px;
  }
}

.input-checkbox {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  accent-color: var(--basic-green);
}
