input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #666666;
  font-size: inherit;
}

.input {
  // border: none;
  // -webkit-appearance: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;

  &:checked + label .pseudo-radio,
  &:checked + label .pseudo-checkbox {
    background-color: var(--light-blue);
    border-color: var(--basic-green);
  }

  &:checked + label .pseudo-radio {
    padding: 12px 14px;
    border-width: 2px;
  }

  &:checked + label .pseudo-checkbox {
    padding: 12px 19px;
    border-width: 2px;
  }

  &:focus-visible + label .pseudo-radio,
  &:focus-visible + label .pseudo-checkbox {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
  }
}

.pseudo-radio,
.pseudo-checkbox {
  display: block;
  width: 100%;
  line-height: 20px;
  text-align: center;
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: var(--basic-green);
    border-color: var(--basic-green);
  }
}

.pseudo-radio {
  padding: 13px 15px;
}

.pseudo-checkbox {
  padding: 13px 20px;
}

@media (min-width: @desktop-width) {
  .pseudo-radio {
    padding: 9px 15px;
  }

  .input {
    &:checked + label .pseudo-radio {
      padding: 9px 15px;
      border-width: 1px;
    }
  }

  .input {
    &:checked + label .pseudo-checkbox {
      padding: 9px 15px;
      border-width: 1px;
    }
  }

  .pseudo-checkbox {
    padding: 9px 16px;
  }
}

.input--field {
  display: block;
  width: 100%;
  padding: 13px 30px 13px 15px;
  line-height: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;

  @media (min-width: @desktop-width) {
    padding: 9px;
  }

  &:focus-visible {
    border-color: var(--basic-green);
  }

  &:hover {
    border-color: var(--basic-green);
  }
}

.input-checkbox {
  position: relative;
  width: 22px;
  height: 22px;
  background: none;
  border-radius: 3px;
  border: 1px solid #666;
  -webkit-appearance: none;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 50%;
    transition: transform 0.2s ease-in-out;
    border-bottom: 2px solid var(--basic-green);
    border-right: 2px solid var(--basic-green);
    transform: translateX(-50%) rotate(40deg) scale(0);
    width: 40%;
    height: 60%;
  }
}

.input-checkbox:checked {
  border-color: var(--basic-green);
  box-shadow: inset 0 0 20px 3px var(--light-blue);

  &::before {
    transform: translateX(-50%) rotate(40deg) scale(1);
  }
}

@media (min-width: @desktop-width) {
  .input-checkbox {
    width: 17px;
    height: 17px;
  }
}

.invalid-field {
  border-color: red;
}

:is(.modal-form) input:hover {
  border: 1px solid var(--basic-green);
}

:is(.modal-form) input:focus-visible {
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
}
