.intro {
  & h1 {
    margin-bottom: 15px;
    font-size: 18px;
  }

  & p {
    font-size: 14px;
    line-height: 22px;
    color: #737a8e;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    & p {
      // width: 50%;
    }
  }
}
