.journal {
  row-gap: 15px;
}

.journal__ads {
  position: relative;
  height: 200px;
  border-radius: 5px;

  // кдалить после прода

  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 40px;
    color: red;
  }
}

@media (min-width: @tablet-width) {
  .journal {
    row-gap: 30px;
  }

  .journal__header {
    grid-column: 1/-1;
  }

  .journal__ads {
    height: 250px;
  }
}

@media (min-width: @desktop-width) {
  .journal__header {
    grid-column: 1/-1;
  }

  .journal__ads {
    height: 270px;
  }
}
