.journal-nav {
  & ul {
    display: flex;
    column-gap: 10px;
    margin: 0 -15px;
    padding: 0 15px;
    width: 100vw;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.journal-nav__link {
  padding: 10px 12px;
  font-size: 15px;
  background-color: #f6f6fa;
  background-color: var(--light-green);
  border-radius: 5px;

  &:hover {
    background-color: #efeffa;
  }

  &:active {
    background-color: #a2a2cc;
  }

  &--selected {
    background-color: #dedeed;
    background-color: var(--basic-green);
    color: var(--white);

    &::after {
      border-color: var(--white) !important;
    }
  }
}

@media (min-width: @tablet-width) {
  .journal-nav {
    & ul {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .journal-nav {
    & ul {
      display: grid;
      row-gap: 10px;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }

  .journal-nav__link {
    padding: 12px 15px;
    width: 100%;
    font-size: 15px;
  }
}
