.journal__wrapper {
  display: grid;
  row-gap: 15px;

  & h3 {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
  }

  & section {
    & li {
      position: relative;
      background-color: #f6f6fa;
      border-radius: 5px;

      & a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 5px;
      }

      &:hover {
        background-color: #EFEFFA;

        & p {
          color: var(--basic-green);
        }
      }
    }
  }

  & time {
    margin-top: auto;
    font-size: 12px;
  }
}

@media (min-width: @tablet-width) {
  .journal__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}

@media (min-width: @desktop-width) {
  .journal__wrapper {
    grid-template-columns: 2fr 1fr;

    & h3 {
      font-size: 24px;
    }
  }
}
