.label-popup {
  display: none;
}

@media (min-width: @desktop-width) {

  .user-actions__like:hover .label-popup,
  .user-nav__button-profile:hover .label-popup {
    display: block;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    font-size: 14px;
    padding: 5px;
    color: var(--white);
    background-color: var(--gray);
    border-radius: 5px;
    white-space: nowrap;
  }
}

// .user-nav__button-profile:active .label-popup {
//   display: none;
// }
