.layout {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 40px;
}

.layout--gk {
  row-gap: 0;
}

@media (max-width: @mobile-width-only) {
  .layout--catalog {
    row-gap: 25px;
  }
}

@media (min-width: @desktop-width) {
  .layout--doc {
    row-gap: 60px;
  }

  .layout--map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
}
