.layout {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 40px;
}

.layout__navigation {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    column-gap: 10px;
  }
}

.layout__page-main {
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 30px;
}

.layout--gk {
  row-gap: 0;
}
