.layout__navigation {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    column-gap: 10px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: min-content 1fr max-content max-content;
    column-gap: 20px;
  }
}
