.link-underline {
  & span {
    border-bottom: 1px dashed var(--basic-green);
    color: var(--basic-green);
  }

  &:hover span {
    color: var(--green);
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px #74d099, 0 0 2px 3px #20a052;
  }
}
