a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

:is(.navigation, .nav, .user-actions, .user-nav, .seo-nav, .modal, .auth, .navbar, .developer-about, .gk-progress, .page__footer, .offer-images__main, .realtor) a {
  color: inherit;

  &:focus-visible {
    // box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px rgb(166, 229, 255), 0 0 2px 3px rgb(0, 106, 255);
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 2px 3px #74d099, inset 0 0 2px 3px #20a052;
  }
}

// green links

:is(.seo-nav ul, .footer, .developer-about, .gk-progress, .card__gk, .catalog__title, .cookies) a {
  color: var(--basic-green);

  &:hover {
    color: var(--green);
  }

  &:active {
    color: var(--dark-green);
  }
}

:is(.seo-nav, .index-nav, .footer, .new-bldg__list .new-offers__image, .new-offer, .bldg-nav, .submenu__list--expert, .subway, .posts-gallery__item, .posts-gallery__item, .articles-gallery, .pagination) a {
  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px #74d099, 0 0 2px 3px #20a052;
  }
}

//  links hover

:is(.new-offers__nav, .breadcrumbs, .offer-properties__title, .footer-links, .media-header__nav) a {
  &:hover {
    color: var(--basic-green);
  }

  &:active {
    color: var(--green);
  }
}

// focus

:is(.new-offers__nav, .footer-links) a {
  border-radius: 5px;

  &:focus-visible {
    color: var(--basic-green);
    box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 2px 3px #74d099, inset 0 0 2px 3px #20a052;
  }
}

// active

:is(.location, .new-offers__nav) a {
  &:active {
    color: red;
  }
}

:is(
    .publication__button,
    .new-offers__list,
    .gk-offers,
    .catalog-menu,
    .offer-images__main,
    .plan-offer,
    .new-bldg,
    .deal-terms,
    .statistics__table,
    .articles-section__list,
    .news-section__list,
    .posts-section__list
  )
  a {
  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px #74d099, 0 0 2px 3px #20a052;
  }
}

:is(.breadcrumbs, .quick-links, .developer-about, .gk-progress, .catalog-list__header, .offer-properties, .seller, .offer-address) a {
  &:focus-visible {
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
  }
}

:is(.index-nav, .new-bldg__list) a {
  background-color: var(--backgound-gray);

  &:hover {
    background-color: #efeffa;
  }

  &:active {
    background-color: #ebebfe;
  }
}

.link-selected {
  border-bottom: 3px solid var(--basic-green);
}

// links like button

.link-button {
  padding: 13px 0;
  color: var(--white);
  background-color: var(--basic-green);
  border-radius: 5px;
  font-weight: 500;
  text-align: center;

  &:hover {
    background-color: var(--green);
  }

  &:active {
    background-color: var(--dark-green);
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 2px 3px #74d099, 0 0 2px 3px #20a052;
  }

  @media (min-width: @tablet-width) {
    padding: 12px 0;
  }
}
