@media (max-width: 1239px) {
  .toggler[aria-expanded='false'] ~ .main-nav {
    display: none;
  }
}

.main-nav {
  position: absolute;
  top: 63px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--white);
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

.main-nav__item {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.main-nav__item-link {
  display: block;
  padding: 12px 0 13px 15px;
  line-height: 28px;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @tablet-width) {
    padding: 12px 0 13px 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 18px 10px 20px 10px;
    line-height: 20px;
    border: none;

    &:hover::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: var(--blue);
    }
  }
}

.main-nav__item-link span {
  display: block;
  border-right: 1px solid var(--gray);

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-nav__toggler {
  padding: 0 25px;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

@media (max-width: 1239px) {
  .main-nav__toggler[aria-expanded='false'] + .main-nav__submenu {
    display: none;
  }
}

.main-nav__item-icon {
  position: relative;
  top: 2px;
}

.main-nav__submenu--layout {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content;
    column-gap: 60px;
    row-gap: 10px;
  }
}

.main-nav__submenu {
  grid-column: 1/-1;
  padding: 10px 30px;
  background-color: var(--light);
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 62px;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.6s;
    transform: translateX(-50%);
    z-index: 1;
    width: 1200px;
    height: 400px;
    margin-top: 1px;
    padding: 40px 100px 40px 250px;
    background-color: var(--white);
    box-shadow: 0 5px 10px 0 var(--light-black);

    // background-color: rgba(0, 0, 0, 0.5);
    // box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5); /* fallback for IE */
    // box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item:hover .main-nav__submenu {
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: linear, linear;
    transition-delay: 0.4s;
    visibility: visible;
    z-index: 10;
  }
}

.main-nav__submenu-title {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;

  @media (min-width: @desktop-width) {
    position: relative;
    margin: 0;

    &:not(:first-child)::after {
      position: absolute;
      content: '';
      top: 50px;
      left: -31px;
      width: 2px;
      height: 200px;
      background-color: var(--extra-light-gray);
    }
  }
}

.main-nav__submenu-list {
  @media (min-width: @desktop-width) {
    position: relative;
    grid-row: 2/3;
  }
}

.main-nav__submenu-list li a {
  display: block;
  padding: 10px 0;
  font-size: 14px;

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 8px 10px;
    font-size: inherit;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__submenu-list li a span {
    position: relative;

    &:hover::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: var(--dark-blue);
    }
  }
}

.main-nav__submenu--link ul li:last-child a {
  margin-top: 15px;
  color: var(--blue);
}

.main-nav__submenu--link ul li:last-child a span {
  position: relative;
  border-bottom: 1px dashed var(--blue);
}
