.main-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  z-index: 4;
}

.main-search__header {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid rgb(209, 209, 213);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & h3 {
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
  }
}

.main-search__footer .button {
  top: 6px;
  right: 0;
}

@media (min-width: @tablet-width) {
  .main-search {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 12px 0px;
  }
}

@media (min-width: @desktop-width) {
  .main-search {
    display: block;
    position: static;
    margin: 0 auto;
    width: 1200px;
    box-shadow: none;
  }

  .main-search__form {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--light-gray);
  }

  .main-search__selected {
    margin-top: 8px;
  }
}
