@media (max-width: 1239px) {
  .toggler[aria-expanded='false'] ~ .main-nav {
    display: none;
  }
}

.main-nav {
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  min-height: 100%;
  background-color: @white;

  @media (min-width: @tablet-width) {
    top: 59px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    display: flex;
    justify-content: center;
    padding: 0;
    color: @basic-black;
  }
}

.navigation__mobile-login {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__item-link {
  display: block;
  flex-grow: 1;
  padding: 12px 0 13px 20px;
  font-size: 15px;
  line-height: 28px;
  color: inherit;
  border-bottom: 1px solid @light-gray;

  @media (min-width: @desktop-width) {
    position: relative;
    margin: 0;
    padding: 18px 10px 20px 10px;
    font-size: inherit;
    line-height: 20px;
    font-weight: 400;
    border: none;

    &:hover::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: @basic-green;
    }
  }
}

.main-nav__item-link span {
  display: block;
  color: inherit;
  border-right: 1px solid @gray;

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-nav__item-icon {
  position: relative;
  top: 2px;

  & path {
    fill: @blue;
  }
}

.main-nav__item-button {
  padding: 0 24px;
  border-bottom: 1px solid @light-gray;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__item-link--closed.main-nav__submenu {
  display: none;
}

.main-nav__submenu {
  padding: 10px 35px;
  background-color: rgb(251, 251, 251);
  border-bottom: 1px solid @light-gray;

  @media (min-width: @desktop-width) {
    padding: 0;
    background-color: @white;
  }
}
@media (min-width: @desktop-width) {
  .main-nav__submenu {
    position: absolute;
    display: none;
  }

  .main-nav__item:hover .main-nav__submenu,
  .main-nav__item:focus-within .main-nav__submenu {
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    width: 1200px;
    height: 500px;
    margin-top: 1px;
    padding: 40px 100px 40px 145px;
    background-color: @white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    &--sale {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
    }
  }
}

.main-nav__submenu-title {
  display: block;
  padding: 15px 0 5px 0;
  font-size: 15px;
  font-weight: 700;
  color: inherit;

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

.main-nav__submenu-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 200px max-content;
    column-gap: 40px;
    // row-gap: 10px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.main-nav__submenu-link {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  color: @blue;

  &:active {
    outline: 1px red solid;
    color: @basic-black;
    text-decoration: solid;
  }

  @media (min-width: @desktop-width) {
    padding: 5px 0;
    font-size: inherit;
  }
}
