@media (max-width: 1239px) {
  .toggler[aria-expanded='false'] ~ .main-nav {
    display: none;
  }
}

.main-nav {
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  min-height: 100%;
  background-color: var(--white);

  @media (min-width: @desktop-width) {
    position: static;
    display: flex;
    justify-content: center;
    padding: 0;
    color: var(--basic-black);
  }
}

.main-nav__item-layout {
  display: flex;
  justify-content: space-between;
}

.main-nav__item-link {
  display: block;
  flex-grow: 1;
  padding: 12px 0 13px 20px;
  font-size: 15px;
  line-height: 28px;
  color: inherit;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    position: relative;
    margin: 0;
    padding: 18px 10px 20px 10px;
    font-size: inherit;
    line-height: 20px;
    font-weight: 400;
    border: none;

    &:hover {
      color: var(--blue);
    }

    &:hover::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: var(--blue);
    }
  }
}

.main-nav__item-link span {
  display: block;
  color: inherit;
  border-right: 1px solid var(--gray);

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-nav__item-icon {
  position: relative;
  top: 2px;

  & path {
    fill: @blue;
  }
}

.main-nav__item-button {
  padding: 0 24px;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

@media (max-width: 1239px) {
  .main-nav__item-link--closed.main-nav__submenu {
    display: none;
  }
}

.main-nav__submenu {
  padding: 10px 35px;
  background-color: var(--light);
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    padding: 0;
    background-color: var(--white);
  }
}
@media (min-width: @desktop-width) {
  .main-nav__submenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.6s;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 1200px;
    height: 500px;
    margin-top: 1px;
    padding: 40px 100px 40px 145px;
    background-color: var(--white);
    box-shadow: 0px 5px 10px 0px var(--light-black);
    box-sizing: border-box;
  }

  .main-nav__item:hover .main-nav__submenu {
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: linear, linear;
    transition-delay: 0.4s;
    visibility: visible;
  }
}

.main-nav__submenu--sale {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
}

.main-nav__submenu-title {
  display: block;
  padding: 15px 0 5px 0;
  font-size: 15px;
  font-weight: 700;
  color: inherit;

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

.main-nav__submenu-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 200px max-content;
    column-gap: 40px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.main-nav__submenu-list li a {
  display: block;
  padding: 10px 0;
  font-size: 14px;

  &:active {
    color: red;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    padding: 5px 0;
    line-height: inherit;
    font-size: inherit;

    &:hover {
      padding: 5px 0 4px 0;
      border-bottom: 1px solid var(--blue);
    }

    &:active {
      color: red;
    }
  }
}
