.main-search__wrapper {
  padding: 0 10px;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}

.main-search__caption {
  margin: 0 0 30px 0;
  padding: 24px 10px;
  line-height: 26px;
  font-size: 18px;
  background-color: @white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 35px;
    right: 20px;
    transform: rotate(45deg);
    width: 20px;
    height: 2px;
    background-color: var(--basic-black);
  }

  &::before {
    transform: rotate(-45deg);
  }
}
