.map-card {
  height: 100%;

  .offer-images__wrapper {
    &--paid {
      grid-template-rows: 190px 55px;
    }

    &--free {
      grid-template-rows: 190px;
    }
  }
}

.map-card__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 100%;
}

.map-card__pictures {
  order: -1;
}

.map-card__contacts {
  margin-left: auto;
  width: 50%;
  height: 35px;

}

@media (min-width: @desktop-width) {
  .map-card__phone {
  }
}
