.map-marker {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--blue);
  border: 2px solid var(--white);

  &--1 {
    top: 28%;
    left: 16%;
  }

  &--2 {
    top: 10%;
    left: 66%;
  }

  &--3 {
    top: 17%;
    left: 46%;
  }

  &--4 {
    top: 28%;
    left: 66%;
  }

  &--5 {
    top: 42%;
    left: 36%;
  }

  &--6 {
    top: 53%;
    left: 20%;
  }

  &--7 {
    top: 50%;
    left: 16%;
  }

  &--8 {
    top: 58%;
    left: 71%;
  }

  &--9 {
    top: 32%;
    left: 34%;
  }

  &--10 {
    top: 75%;
    left: 60%;
  }
}
