@media (min-width: @desktop-width) {
  .map {
    & iframe {
      height: 100%;
    }
  }

  .map__wrapper {
    position: relative;
    height: 100%;
  }

  .map__promo {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }
}
