.mark {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: -4px;
    right: -3px;
    width: 15px;
    height: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDE3NzgwMCAxNzc4MDAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xhc3M9IiI+CiAgPGc+CiAgICA8Y2lyY2xlIGN4PSI4ODkwMCIgY3k9Ijg4OTAwIiByPSI4ODkwMCIgZmlsbD0iI2ZmNDE0MSIgb3BhY2l0eT0iMSIgZGF0YS1vcmlnaW5hbD0iI2ZmNDE0MSIgY2xhc3M9IiI+CiAgICA8L2NpcmNsZT4KICAgIDxnIGZpbGw9IiNmZmYiPgogICAgICA8cGF0aCBkPSJtMTAwMzQ3IDQ0MjAwLTMzNjUgNjgzMTJjLTIyNCA0NTUwLTM2MzcgODI5Mi04MDgyIDgyOTJzLTc4NTgtMzczNy04MDgyLTgyOTJsLTMzNjUtNjgzMTJjLTYxMy0xMjUxMyAyMzUwOC0xMjUwOSAyMjg5NCAwek04ODkwMSAxMjY4MjBjNDQ2MiAwIDgwODEgMzYxOSA4MDgxIDgwODJzLTM2MTkgODA4Mi04MDgxIDgwODJjLTQ0NjMgMC04MDgyLTM2MTktODA4Mi04MDgyczM2MTktODA4MiA4MDgyLTgwODJ6IiBmaWxsPSIjZmZmZmZmIiBvcGFjaXR5PSIxIiBkYXRhLW9yaWdpbmFsPSIjZmZmZmZmIj4KICAgICAgPC9wYXRoPgogICAgPC9nPgogIDwvZz4KPC9zdmc+Cg==);
  }
}
