.media-list__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (min-width: 500px) {
  .media-list__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: @desktop-width) {
  .media-list__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
