.subway {
  position: relative;
  padding-left: 23px;

  &::before {
    position: absolute;
    content: '';
    top: 2px;
    left: 0;
    width: 17px;
    height: 12px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAMCAYAAACEJVa/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAC1SURBVHgBhVIBDYQwDKyESUDCS5iElzAHj4RJeAfgAAlIQMIkTELpSEuapoUlF+B2u17LAMxCgImQwVnEl2jPChfCHuw1Qn3zECGOqk6Kwfc3gy8Lkc2SY46PLdHmpoQo0en5M/weGUxGeEUnfEwKQfJMiiMcOAK+wsNAkdvqzsEtbIkja3EelWxl5tEdMN+N+68wl1S6prQ64V/IalppUkHNqfB3NjPq12z4kMWsKq/qffb0J1hO4MQs5SYkAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
  }
}

.subway__distance {
  position: relative;
  padding-left: 20px;

  &::before {
    position: absolute;
    content: '';
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
  }

  &--foot::before {
    background-image: url('../img/icons/walk_man.svg');
  }

  &--bus::before {
    background-image: url('../img/icons/bus.svg');
  }
}
