.modal-note__header {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
  font-size: 14px;

  & p:first-child {
    font-size: 16px;
    font-weight: 700;
  }
}

.modal-note__form {
  & .textarea {
    margin-bottom: 20px;
  }
}

& .modal-note__buttons {
  display: flex;
  gap: 0 5px;

  & .button {
    width: calc(50% - 5px);
  }
}

@media (min-width: @desktop-width) {
  .modal-note__buttons {
    & .button {
      width: 100%;
    }
  }
}
