.modal-note__header {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.modal-note__form {
  & textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    font-size: 14px;
    color: var(--half-black);
    border-radius: 5px;
    border-color: var(--gray);
    resize: none;

    &::placeholder {
      font-size: 15px;
      font-weight: 300;
    }

    &:focus {
      outline: none;
      border-color: var(--basic-green);
    }

    &:hover {
      border-color: var(--basic-green);
    }
  }

  & .button-main {
    position: relative;
    margin-top: 20px;

    &::before {
      position: absolute;
      content: '';
      top: -21px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 1px;
      background-color: var(--basic-green);
    }
  }

  @media (min-width: @desktop-width) {
    & .button-main {
      width: 100%;
    }
  }
}
