.modal {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  padding: 40px 20px 20px 20px;
  border-top: 2px solid var(--basic-green);
  background-color: var(--white);
  // box-shadow: 0 5px 10px 0 var(--light-black);
  box-shadow: 0 0 100vmax 100vmax rgba(0, 0, 0, 0.3);
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 370px;
    top: 40%;
  }

  &--reg {
    padding-bottom: 40px;
  }

  & h2 {
    margin-bottom: 30px;
  }

  & > .button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.modal--show {
  display: block;
}

.modal--contacts {
  width: 90%;
  border-color: #531d24;
  background-color: var(--white);

  & h2 {
    margin-bottom: 20px;
  }

  & section {
    display: flex;
    flex-direction: column;

    & p {
      order: -1;
      margin-bottom: 15px;
      font-size: 30px;
    }
  }

  @media (min-width: @small-tablet-width) {
    width: 370px;
  }
}
