.native__form {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}

.select-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.native__select {
  max-width: 200px;
  padding: 4px;
  border-color: #aaa;
  border: 1px solid @basic-green;
  border-radius: 5px;
  background-color: white;
}
