

  .nav-section__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .nav-section_type {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    & h3 {
      margin: 15px 0 10px 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.3em;
    }

    & img {
      order: -1;
      border-radius: 5px 5px 0 0;
      object-fit: cover;
      height: 180px;
    }

    & ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 5px 15px;
    }

    & ul li:not(:last-child) {
      border-bottom: 1px solid var(--light-gray);
    }

    & ul li a {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
      padding: 12px 5px;
      color: var(--blue);

      & data {
        color: var(--clarified-black);
        white-space: nowrap;
      }
    }
  }


@media (min-width: @tablet-width) {
  .nav-section__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    column-gap: 20px;
  }

  .nav-section_type {
    & h3 {
      &:nth-of-type(2) {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      &:nth-of-type(4) {
        grid-row: 3/4;
        grid-column: 2/3;
      }
    }

    & ul {
      flex-direction: column;
    }
  }
}

@media (min-width: @desktop-width) {
  .nav-section__wrapper {
    grid-template-rows: max-content max-content;
    column-gap: 20px;
  }

  .nav-section_type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    column-gap: 20px;
    padding: 10px 10px 0 10px;

    & h3 {
      grid-column: 2/3;
      grid-row: 1/2;
      margin: 0;
      font-size: 18px;
    }

    & img {
      grid-row: 1/-1;
      width: 100%;
      order: 0;
      object-fit: cover;
      display: block;
      border-radius: 5px;
    }

    & ul {
      grid-column: 2/3;
      grid-row: 2/3;
      padding: 0;
      box-shadow: none;

      & li:not(:last-child) {
        border-bottom: none;
      }
    }

    & ul li a {
     padding: 8px 5px;
    }
  }
}
