@media (max-width: 1239px) {
  .toggler[aria-expanded='false'] ~ .nav {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: var(--white);
  z-index: 2;

  @media (min-width: @tablet-width) {
    padding: 0 42px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: transparent;
  }
}

.nav__item {
  display: grid;
  grid-template-columns: 1fr max-content;

  &:not(:last-of-type) > a span {
    border-right: 1px solid var(--gray);

    @media (min-width: @desktop-width) {
      border: none;
    }
  }
}

.nav__link {
  display: block;
  padding: 12px 0 13px 15px;
  line-height: 28px;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @tablet-width) {
    padding: 12px 0 13px 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 18px 10px 20px 10px;
    line-height: 20px;
    border: none;

    &:hover::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: var(--basic-green);
    }
  }
}

.nav__link {
  & span {
    display: block;
  }
}

.nav__toggler {
  padding: 0 25px;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.nav__icon {
  position: relative;
  top: 2px;
  fill: var(--basic-green);
}

@media (max-width: 1239px) {
  .nav__toggler[aria-expanded='false'] + .nav__submenu {
    display: none;
  }
}

.nav__submenu {
  grid-column: 1/-1;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 63px;
    left: 50%;
    margin-left: -50vw;
    z-index: 1;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.6s;
    border-radius: 0 0 5px 5px;
    background-color: var(--white);
    box-shadow: 0 5px 10px 0 var(--light-black);
  }
}

@media (min-width: @desktop-width) {
  .nav__item:hover .nav__submenu {
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: linear, linear;
    transition-delay: 0.4s;
    visibility: visible;
  }
}

.page-header--gk {
  & .nav {
    top: 62px;
    border-top: 1px solid var(--light-gray);
  }

  & .user-nav__profile {
    border-top: 1px solid var(--light-gray);
    border-radius: 0;
  }

  @media (min-width: @desktop-width) {
    & .nav {
      top: 62px;
      border-top: none;
    }

    & .user-nav__profile {
      border-top: none;
      border-radius: 5px;
      top: 50px;
    }

    & .nav__submenu {
      top: 61px;
      border-top: 1px solid var(--light-gray);
    }
  }
}
