.navigation--mobile {
  order: -1;

  @media (min-width: @desktop-width) {
    order: 0;
  }
}

.navigation__button-login {
  width: 100%;
  padding: 12px 0 13px 20px;
  border-bottom: 1px solid @light-gray;
  align-items: start;
}

@media (max-width: 1239px) {
  .navigation--closed .navigation__list {
    // display: none;
    transition: 0.5s;
    transform: translateX(-100%);
  }
}

@media (max-width: 1239px) {
  .navigation--open .navigation__list {
    transition: 0.5s;
  }
}

.navigation__login-text {
  font-size: 15px;
  line-height: 28px;
  float: left;
}

// Nav

.navigation__list {
  min-height: 100%;
  z-index: 2;
  position: absolute;
  top: 59px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @white;

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    display: flex;
    justify-content: center;
    color: @basic-black;

    padding: 0;
  }
}

.navigation__mobile-login {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.navigation__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation__item-link {
  display: block;
  font-size: 15px;
  line-height: 28px;
  color: inherit;
  padding: 12px 0 13px 20px;
  border-bottom: 1px solid @light-gray;
  flex-grow: 1;

  @media (min-width: @desktop-width) {
    font-size: inherit;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 18px 10px 20px 10px;
    position: relative;
    border: none;

    &:hover::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: @basic-green;
    }
  }
}

.navigation__item-link span {
  display: block;
  border-right: 1px solid @gray;
  color: inherit;

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.navigation__item-icon {
  position: relative;
  top: 2px;
}

.navigation__item-button {
  padding: 0 24px;
  border-bottom: 1px solid @light-gray;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.navigation__item-link--closed.navigation__submenu {
  display: none;
}

.navigation__submenu {
  background-color: rgb(251, 251, 251);
  padding: 10px 35px;
  border-bottom: 1px solid @light-gray;

  @media (min-width: @tablet-width) {
    background-color: @white;
    padding: 0;
  }
}
@media (min-width: @tablet-width) {
  .navigation__submenu {
    display: none;
    position: absolute;
  }

  .navigation__item:hover .navigation__submenu,
  .navigation__item:focus-within .navigation__submenu {
    display: block;
    width: 1200px;
    height: 500px;
    margin-top: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: @white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 40px 100px 40px 145px;
    box-sizing: border-box;

    &--sale {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
    }
  }
}

.navigation__submenu-title {
  display: block;
  font-size: 15px;
  font-weight: 700;
  color: inherit;
  padding: 15px 0 5px 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.navigation__submenu-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 200px max-content;
    column-gap: 40px;
    row-gap: 10px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.navigation__submenu-link {
  display: block;
  font-size: 14px;
  color: inherit;
  padding: 10px 0;
  color: rgb(0, 106, 255);

  &:active {
    outline: 1px red solid;
    color: @basic-black;
    text-decoration: solid;
  }

  @media (min-width: @desktop-width) {
    font-size: inherit;
  }
}
