.new-buildings__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 20px;
  }
}
