.new-buildings {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: -4px;
  padding-bottom: 4px;
}

.new-buildings__title {
  padding: 0 15px;
  margin-bottom: 9px;
}

.new-buildings__list {
  display: inline-flex;
  padding-top: 4px;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;

  &::before {
    content: "";
    padding-left: 15px;
  }

  &::after {
    content: "";
    padding-right: 15px;
  }
}

.new-buildings__list-item {
  min-width: calc(100vw - 50px);

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.new-buildings__footer {
  margin-top: 20px;
  padding: 0 15px;

  & a {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .new-buildings__title {
    margin-bottom: 11px;
  }

  .new-buildings__title,
  .new-buildings__footer {
    padding: 0 40px;
  }

  .new-buildings__list {
    &::before {
      padding-left: 40px;
    }

    &::after {
      padding-right: 40px;
    }
  }

  .new-buildings__list-item {
    min-width: 380px;
  }
}

@media (min-width: @desktop-width) {
  .new-buildings {
    margin: 0 auto;
    width: 1200px;
    overflow-x: visible;
  }

  .new-buildings__title {
    margin-bottom: 16px;
  }

  .new-buildings__title,
  .new-buildings__footer {
    padding: 0;
  }

  .new-buildings__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    overflow-x: visible;

    &::before,
    &::after {
      content: none;
    }
  }

  .new-buildings__list-item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.new-buildings__list--one {
  width: 100%;

  & .new-buildings__list-item {
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0 40px;
    width: calc(100% - 80px);

    &::before,
    &::after {
      content: none;
    }

    & .new-buildings__list-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 280px;
      flex-direction: row;
    }

    & .new-bldg__header {
      height: 100%;

      & img {
        border-radius: 5px 0 0 5px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
  }

  & .new-buildings__list-item {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 280px;
    padding: 40px;
    column-gap: 40px;
    margin: 0 auto;
    width: 900px;
    border: none;
  }

  & .new-bldg__body {
    padding: 10px;
    max-width: 500px;
  }
}
