.new-offer {
  display: grid;
  grid-template-areas:
    'photo'
    'data';
  row-gap: 10px;
  grid-template-rows: min-content;
  // min-width: calc(50% - 15px);
  border-radius: 5px;
  font-size: 14px;
  // border: 1px solid var(--light-gray);
}

.new-offers__image {
  grid-area: photo;

  & a {
    display: block;
  }

  & img {
    border-radius: 5px;
  }
}

.new-offer__data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  white-space: nowrap;
  overflow: hidden;

  & li,
  address {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.new-offer__price {
  font-size: 16px;
  font-weight: 700;

  & span {
    font-weight: 500;
  }
}

.new-offer__properties {
  padding: 3px 5px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .new-offer {
    position: relative;
    row-gap: 10px;
    box-shadow: 0 0 10px var(--light-gray);

    &::after {
      position: absolute;
      content: 'new';
      bottom: 10px;
      right: 15px;
      padding: 0 5px;
      border: 2px solid var(--basic-green);
      border-radius: 5px;
    }

    &:hover {
      transform: scale(1.01);
      transition: transform 0.3s;
    }

    &:hover .new-offer__properties {
      border-color: var(--basic-green);
    }

    &:hover .new-offer__properties a {
      color: var(--basic-green);
    }
  }

  .new-offer__data {
    row-gap: 7px;
    padding: 10px 15px 37px 15px;
  }

  .new-offer__properties a {
    display: block;

    &:hover {
      color: var(--green) !important;
    }
  }

  .new-offer__price {
    font-size: 17px;
  }
}
