.new-buildings__list {
  display: inline-flex;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;

  &::before {
    content: "";
    padding-left: 15px;
  }

  &::after {
    content: "";
    padding-right: 15px;
  }
}

.new-buildings__list-item {
  min-width: calc(100vw - 50px);

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.new-buildings__footer {
  margin-top: 20px;

  & a {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .new-buildings__list {
    &::before {
      padding-left: 40px;
    }

    &::after {
      padding-right: 40px;
    }
  }

  .new-buildings__list-item {
    min-width: 380px;
  }
}

@media (min-width: @desktop-width) {
  .new-buildings__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    overflow-x: visible;

    &::before,
    &::after {
      content: none;
    }
  }

  .new-buildings__list-item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}
