.offer__wrapper {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

.offer__content {
  position: relative;
}

.offer__aside {
  position: relative;
  display: grid;
  column-gap: 5px;

  & .offer__actions {
    margin-top: auto;
  }
}

.delete-class .offer__aside {
  grid-template-columns: 1fr 48px;
}

.offer__content-footer {
  position: absolute;
  top: 6px;
  right: 0;
  display: flex;

  &--gk {
    display: none;
  }
}

.offer__content-top {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: auto;

  & span {
    color: orange;
    font-weight: 500;
  }
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    padding: 15px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }

  .offer__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .offer {
    margin: -20px;
  }
  
  .offer__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 345px 1fr;
    column-gap: 20px;
    row-gap: 0;
    padding: 30px 20px;
    max-height: 425px;
    box-shadow: none;

    &:hover {
      box-shadow: 0 0 10px var(--light-gray);
    }

    &::after,
    &:first-of-type::before {
      position: absolute;
      content: "";
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: var(--light-gray);
    }

    &::after {
      bottom: 0;
    }

    &:first-of-type::before {
      top: -1px;
    }

    &:hover::after,
    &:first-of-type:hover::before {
      display: none;
    }
  }

  .offer__content {
    display: grid;
    grid-template-columns: 1fr 235px;
    column-gap: 20px;

    & .offer__seller {
      margin-top: 0;
    }
  }

  .delete-class .offer__seller {
    padding: 14px;
  }

  .offer__aside {
    display: grid;
    // grid-template-columns: 1fr 35px;
    column-gap: 10px;
    font-size: 14px;

    & .offer__actions {
      margin-top: 0;
    }
  }

  .delete-class .offer__aside {
    grid-template-columns: 1fr 35px;
  }

  .offer__content-footer {
    top: auto;
    bottom: 0;
    right: 0;
    flex-direction: column;
    color: #727b82;

    &--gk {
      display: block;
    }

    & p {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}

// test

.shange-grid-link {
  container: offer / inline-size;

  & .offer__wrapper {
    display: grid;
    row-gap: 13px;
  }

  & .offer__pictures {
    position: relative;
    order: -1;

    & a {
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  & .offer-images__large {
    height: 100%;
  }

  & .offer__pictures-footer {
    position: absolute;
    bottom: -45px;
    right: 0;
  }

  & .link-click-area {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  & .offer__content {
    padding: 15px 0 25px;
    margin-bottom: 0;
  }

  & .offer-properties__address a,
  .offer-properties__subway a,
  .offer-properties__gk a,
  .offer-price__control {
    position: relative;
    z-index: 1;
  }

  @container offer (width > 1239px) {
    .offer__wrapper {
      grid-template-areas: "photo data aside";
      grid-template-columns: 345px 1fr 235px;
      grid-template-rows: max-content;
      column-gap: 20px;
      box-shadow: none;
    }

    .offer__pictures {
      grid-area: photo;
    }

    .offer__content {
      grid-area: data;
      grid-template-columns: 1fr;
      grid-template-columns: 1fr 235px;
    }

    .offer__aside {
      grid-area: aside;
    }
  }

  @media (min-width: @desktop-width) {
    .offer__pictures {
      & a {
        right: 855px;
      }

      & a:hover + .slider .slider__control {
        display: block;
        z-index: 3;
      }
    }

    .seller__name a,
    .seller__offers a,
    .seller__phone a,
    .offer-controls__wrapper ul {
      position: relative;
      z-index: 1;
    }

    .offer__content {
      position: static;
      padding: 0;
    }

    .offer__pictures {
      position: static;
    }

    .offer__pictures-footer {
      bottom: 30px;
      right: 20px;
      display: flex;
      flex-direction: column;
      color: #727b82;

      & p {
        margin-top: 15px;
        font-size: 14px;
      }
    }
  }
}
