.offer-qualities {
  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
    font-size: 13px;

    & li {
      padding: 4px 5px;
      background-color: var(--half-black);
      color: var(--white);
      border-radius: 3px;
    }

    @media (min-width: @desktop-width) {
      gap: 10px;
    }
  }

  & dl {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
    font-size: 14px;

    & div {
      display: flex;
      gap: 3px;
      padding: 4px 5px;
      background-color: var(--half-black);
      color: var(--white);
      border-radius: 3px;
    }
  }
}
