.offer {
  container: offer / inline-size;
}

.offer__wrapper {
  display: grid;
  row-gap: 13px;
}

.offer__content {
  position: relative;
  padding: 15px 0 5px;
}

.offer__pictures {
  // position: relative;
  order: -1;

}

.offer-images__large {
  height: 100%;
}

.offer__pictures-footer {
  position: absolute;
  bottom: -55px;
  right: 0;
}

.link-click-area {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.offer__aside {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 48px;
  column-gap: 5px;

  & .offer__actions {
    margin-top: auto;
  }
}

.offer__content-footer {
  position: absolute;
  top: 6px;
  right: 0;
  display: flex;

  &--gk {
    display: none;
  }
}

.offer__content-top {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: auto;

  & span {
    color: orange;
    font-weight: 500;
  }
}

.js-gk-list-item {
  & .offer__content {
    display: grid;
    row-gap: 15px;

    & .offer__aside {
      grid-template-columns: 1fr;
    }
  }
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    padding: 15px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }
}

@media (min-width: @desktop-width) {
  .offer {
    margin: -20px;
  }
}

@container offer (width > 1239px) {
  .offer__wrapper {
    position: relative;
    display: grid;
    grid-template-areas: "photo data aside";
    grid-template-columns: 345px 1fr 235px;
    padding: 30px 20px;
    column-gap: 20px;
    box-shadow: none;

    &:hover {
      box-shadow: 0 0 10px var(--light-gray);
    }

    &::after,
    &:first-of-type::before {
      position: absolute;
      content: "";
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: var(--light-gray);
    }

    &::after {
      bottom: 0;
    }

    &:first-of-type::before {
      top: -1px;
    }

    &:hover::after,
    &:first-of-type:hover::before {
      display: none;
    }
  }

  .offer__aside {
    grid-template-columns: 1fr 35px;
    column-gap: 10px;

    & .offer__actions {
      margin-top: 0;
    }
  }

  .offer__pictures {
    & a {
      right: 855px;
    }
  }

  .seller__name a,
  .seller__offers a,
  .seller__phone a,
  .offer-controls__wrapper ul {
    position: relative;
    z-index: 1;
  }

  .offer__content {
    position: static;
    padding: 0;
  }

  .offer__pictures {
    position: static;
  }

  .offer__pictures-footer {
    bottom: 0;
    right: -855px;
    display: flex;
    flex-direction: column;
    color: #727b82;

    & p {
      margin-top: 15px;
      font-size: 14px;
    }
  }

  .offer__seller {
    padding: 10px;
    background-color: var(--extra-light-gray);
  }

  .js-gk-list-item {
    & .offer__content {
      grid-column: 2/-1;
      grid-template-columns: 1fr 235px;
    }
  }

  .offer__content-footer {
    top: auto;
    bottom: 30px;
    right: 20px;
    color: #727b82;

    &--gk {
      display: block;
    }

    & p {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}
