.offer-properties {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 25px;

  & .offer-properties__gk {
    font-weight: 400;
    color: var(--basic-green);
  }
}

.offer-properties__title {
  font-size: 20px;
  font-weight: 500;
}

.offer-properties__address {
  line-height: 22px;
  font-style: normal;
  color: #737a8e;
}

.offer-properties__subway {
  font-size: 14px;
}

.offer-properties__price {
  order: -1;
}

.offer-properties__description {
  display: none;
}

@media (min-width: @desktop-width) {
  .offer-properties {
    row-gap: 5px;
    margin-bottom: 0;

    & .offer-properties__gk {
      margin-top: 10px;
    }
  }

  .offer-properties__title {
    margin-bottom: 10px;
    font-size: 21px;
  }

  .offer-properties__subway {
    margin-top: 5px;
  }

  .offer-properties__price {
    order: 0;
    margin-top: 20px;
  }

  .offer-properties__description {
    display: block;
    margin-top: auto;
    font-size: 14px;
    line-height: 19px;
    color: #737a8e;
  }
}
