.offer-address {
  font-size: 16px;
  line-height: 18px;

  & address {
    margin-bottom: 5px;
    & span {
      color: #666666;
    }

    & a {
      color: inherit;
    }
  }

  & a {
    display: inline-block;
    padding: 2px 0;
    color: var(--basic-green);
  }
}

@media (min-width: @desktop-width) {
  .offer-address {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 15px;

    & address {
      margin-bottom: 0;
    }
  }
}
