.offer-price {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.offer-price__value {
  & data:first-child {
    display: block;
    margin-bottom: 2px;
    font-size: 23px;
    font-weight: 500;
  }

  & data:not(:first-child) {
    font-size: 15px;
    color: #737a8e;
  }
}

.offer-price__history {
  position: relative;
}

.offer-price__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.offer-price__control[aria-expanded='false'] + .offer-price__chart {
  display: none;
}

.offer-price__chart {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.offer-price__follow {
  margin-left: auto;
}

@media (min-width: @desktop-width) {
  .offer-price {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px 2px;
  }

  .offer-price__value {
    & data:first-child {
      font-size: 25px;
    }

    & data:not(:first-child) {
      font-size: 16px;
    }
  }

  .offer-price__history {
    margin-left: auto;
  }

  & .offer-price__control {
    position: relative;
    width: 35px;
    height: 35px;
  }

  .offer-price__chart {
    position: absolute;
    top: 40px;
    bottom: auto;
    right: -20px;
    left: auto;
    width: 400px;
  }

  .offer-price__follow {
    margin-right: auto;
    margin-left: 0;
  }
}
