.offer-gk {
  & h4 {
    font-size: 15px;
    font-weight: 400;
    color: var(--basic-green);
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
    margin-top: 8px;
    font-size: 13px;

    & li {
      padding: 3px 5px;
      // background-color: rgba(255, 221, 87, 0.8);
      background-color: var(--light-gray);
      border-radius: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    & ul {
      gap: 10px;
    }
  }
}
