.offer-preview__wrapper {
  display: grid;
  grid-template-areas:
    'photo'
    'data';
  row-gap: 10px;
  grid-template-rows: min-content;
  font-size: 14px;
}

.offer-preview__data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  white-space: nowrap;
  overflow: hidden;

  & li,
  address {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.offer-preview__image {
  grid-area: photo;

  & img {
    width: 100%;
  }
}

.offer-preview__price {
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .offer-preview {
    row-gap: 10px;
    box-shadow: 0 0 10px var(--light-gray);
  }

  .offer-preview--new {
    position: relative;

    &::after {
      position: absolute;
      content: 'new';
      bottom: 10px;
      right: 15px;
      padding: 0 5px;
      border: 2px solid var(--basic-green);
      border-radius: 5px;
    }

    & .offer-preview__data {
      padding-bottom: 37px;
    }
  }

  .offer-preview__data {
    row-gap: 8px;
    padding: 10px 15px 15px;
  }

  .offer-preview__price {
    font-size: 19px;
  }
}
