.offer-controls {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    & .offer-controls__button {
      position: relative;
      border: 1px solid var(--gray);
      border-radius: 3px;

      & svg {
        position: relative;
        top: 2px;
        stroke: rgba(0, 0, 0, 0.5);
      }

      &:hover {
        border-color: rgba(0, 0, 0, 0.8);

        & svg {
          stroke: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}
