.offer-price {
  display: flex;
  column-gap: 20px;
  align-items: start;

  & .button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}

.offer-price__wrapper {
  & span:first-child {
    display: block;
    font-size: 23px;
    font-weight: 500;
  }

  & span:last-child {
    font-size: 15px;
    color: #737a8e;
  }
}

@media (min-width: @desktop-width) {
  .offer-price {
    & .button {
      width: 27px;
      height: 27px;
    }
  }

  .offer-price__wrapper {
    & span:first-child {
      font-size: 22px;
    }
  }
}
