.offer {
  font-size: 14px;
  position: relative;
}

.offer__wrapper {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
}

.offer__content {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    background-image: url('../img/icons/top.svg');
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    padding: 10px 15px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }

  .offer__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    & .offer__seller {
      margin-top: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .offer {
    position: relative;
    margin: -20px;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 10px var(--light-gray);
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: var(--light-gray);
    }

    &:first-of-type::before {
      position: absolute;
      content: '';
      top: -1px;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: var(--light-gray);
    }

    &:hover::after {
      display: none;
    }

    &:first-of-type:hover::before {
      display: none;
    }
  }

  .offer__wrapper {
    // position: relative;
    display: grid;
    grid-template-columns: 375px 1fr;
    column-gap: 20px;
    row-gap: 0;
    padding: 20px;
    max-height: 405px;
    box-shadow: none;
  }

  .offer__content {
    display: grid;
    grid-template-columns: 1fr 200px 35px;
    column-gap: 10px;

    &::after {
      top: auto;
      bottom: 0;
    }

    &::before {
      position: absolute;
      content: 'Топ';
      top: auto;
      bottom: 1px;
      right: 25px;
      color: orange;
    }

    & .offer__seller {
      margin-top: 0;
    }
  }
}
