.page-header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (max-width: 339px) {
    & .button-circle {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    z-index: 2;
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin: 0 -15px;
  padding: 10px 15px 8px 15px;
  background-color: var(--white);
  // z-index: 2;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    // z-index: 2;
  }
}

.page-header__border {
  position: absolute;
  top: 63px;
  border-bottom: 1px solid var(--light-gray);
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  // z-index: 2;

  @media (min-width: @desktop-width) {
    top: 58px;
  }
}

.page-header__footer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.page-header--gk {
  & .page-header__footer {
    @media (max-width: 1239px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
      outline: none;
    }

    display: flex;
    flex-direction: column;
    row-gap: 15px;

    & .button-location {
      display: none;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      top: 61px;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 50px;

      & .breadcrumbs {
        color: var(--white);
      }
    }
  }
}
