.page {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  color: @basic-black;
  font-family: @roboto;
  background-color: @white;
  // margin: 0 auto;
  // max-width: 1400px; // с этим вопрос
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 360px;
}
