.page-main__header {
  position: relative;
  min-height: 154px;
  padding: 21px 0 20px 0;
  background-color: @light-green;

  &::after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 66px;
    height: 66px;
    background-image: url('../img/icons/building.svg');
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    min-height: 84px;
    margin: 0;
    padding: 52px 0 52px 0;

    &::after {
      right: 55px;
      width: 112px;
      bottom: 36px;
      height: 112px;
      background-size: 100%;
    }
  }
}

.page-main__caption {
  margin: 0;
  line-height: 26px;
  font-size: 20px;

  @media (min-width: @desktop-width) {
    width: 760px;
    margin-left: 38px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
  }
}

.page-main__caption-name {
  color: @basic-green;
}

.page-main--index {
  & h1 {
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.25em;
  }
}
