.page-main {
  display: grid;
  row-gap: 40px;
}

.page-main__preview {
  order: 1;
}

.page-main__body {
  display: grid;
  row-gap: 40px;
}

.page-main__caption {
  margin: 0;
  line-height: 26px;
  font-size: 20px;
}

.page-main.catalog {
  row-gap: 0;
}

@media (min-width: @desktop-width) {
  .page-main {
    row-gap: 80px;
  }

  .page-main__body {
    row-gap: 80px;
  }

  .page-main__caption {
    width: 760px;
    margin-left: 38px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
  }
}
