.page,
.page__body {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 16px;
  font-family: @roboto, @arial;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--white);
  overflow-x: hidden;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}
