.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media (min-width: @desktop-width) {
    z-index: 2;
  }
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--light-gray);

  @media (min-width: @desktop-width) {
    padding: 3px 0 0 0;
    z-index: 2;
  }
}
