.plan-offer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  padding: 16px;
  box-shadow: 0 0 10px var(--light-gray);
  border-radius: 5px;

  & h3 {
    font-weight: 500;
  }

  & .plan-offer__picture {
    order: -1;
    width: 100%;
    height: calc(100% / 1.1);
    border: 1px solid rgba(0, 0, 255, 0.1);
    border-radius: 5px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  & a {
    width: 85%;
    height: 45px;
    color: var(--basic-black);
    border: 1px solid var(--gray);
    background-color: var(--extra-light-gray);

    &:hover {
      border: 1px solid var(--gray);
      background-color: var(--light-gray);
    }

    &:active {
      background-color: var(--gray);
    }
  }
}
