.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (min-width: @desktop-width) {
  .posts-grid {
    &--3fr {
      grid-template-columns: repeat(3, 1fr);
    }

    &--4fr {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
