.posts-gallery {
  display: grid;
  gap: 15px;
}

@media (min-width: @tablet-width) {
  .posts-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: @desktop-width) {
  .posts-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
