.post-preview {
  position: relative;
  display: grid;
  gap: 15px;
  grid-template-rows: min-content 1fr;
  background-color: #f6f6fa;
  border-radius: 5px;
  height: 100%;

  & a {
    display: block;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &:hover {
    background-color: #efeffa;

    & p {
      color: var(--basic-green);
    }
  }
}

.post-preview__content {
  order: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 10px 10px;

  & h3,
  & h2 {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
  }

  & time {
    margin-top: auto;
    font-size: 12px;
  }
}

.post-preview__picture {
  width: 100%;
  height: 180px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
}

@media (min-width: 500px) {
  .post-preview__content {
    padding: 0 15px 15px;
  }
}

@media (min-width: @large-mobile-width) {
  .post-preview__picture {
    height: 170px;
  }
}

@media (min-width: @tablet-width) {
  .post-preview__picture {
    height: 180px;
  }
}

@media (min-width: @desktop-width) {
  .post-preview__content {
    & h3,
    & h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
