.post-structure {
  padding: 15px 15px 15px;
  box-shadow: 0 0 10px var(--light-gray);
  border-radius: 7px;

  & ul {
    display: grid;
    row-gap: 5px;
  }

  & a {
    display: block;
    padding: 4px 0;
    color: #737a8e;
    text-decoration: underline solid var(--gray) 1px;
    text-underline-offset: 3px;
    line-height: 22px;

    &:focus-visible,
    &:hover {
      color: var(--basic-green);
      text-decoration-color: var(--basic-green);
    }
  }
}

.post-structure__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .post-structure {
    padding: 20px 25px 20px;
    border-radius: 7px;

    & ul {
      & a {
        font-size: 16px;
      }
    }
  }
  .post-structure__title {
    margin-bottom: 10px;
    font-size: 19px;
  }
}

@media (min-width: @desktop-width) {
  .post-structure__title {
    margin-bottom: 12px;
    font-size: 19px;
  }
}
