.posts-section__wrapper {
  display: grid;
  row-gap: 3px;
}

.posts-section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    padding: 10px 8px;
  }
}

.posts-section__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.posts-section__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (min-width: @desktop-width) {
  .posts-section__wrapper {
    &--2col {
    }
  }


  .posts-section__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
