.price__list {
  display: flex;
  column-gap: 5px;
}

.price__item {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid @light-gray;
  border-radius: 4px;

  &::after {
    position: absolute;
    content: '₽';
    top: 10px;
    right: 7px;
    width: 16px;
    height: 12px;

    @media (min-width: @tablet-width) {
      top: 5px;
      right: 0;
    }
  }

  &:hover {
    border-color: @blue;
  }

  @media (min-width: @tablet-width) {
    height: 30px;
    width: 120px;
  }
}
