.price__list {
  display: flex;
  column-gap: 7px;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    max-width: 300px;
  }
}

.price__item {
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    max-width: 300px;

    & input {
      padding: 5px 10px;
    }
  }
}

.price__label {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3px;

  &::after {
    position: absolute;
    content: '₽';
    top: 16px;
    right: 5px;
    width: 16px;
    height: 20px;
    color: var(--gray);

    @media (min-width: @tablet-width) {
      top: 6px;
    }
  }
}

.price__label + input {
  @media (min-width: @tablet-width) {
    padding: 5px 25px 5px 10px;
  }
}

.price p {
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

.price .button {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 6px;
    margin-top: 7px;
  }
}

.price__switch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7px;
}

@media (min-width: @tablet-width) {
  & .price__switch .pseudo-input {
    padding: 5px;
  }
}

.price__switch-label {
  text-align: center;
}
