.quick-links__more {
  margin: 10px 0 0 auto;

  & .button {
    display: flex;
    align-items: center;
    gap: 0 5px;
    font-size: 14px;
    color: var(--basic-green);

    & svg {
      fill: var(--basic-green);
    }
  }
}

.quick-links__wrapper {
  display: flex;
  flex-direction: column;

  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    padding: 2px 5px;
    font-size: 14px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

    & li {
      display: flex;
      justify-content: space-between;
      column-gap: 5px;
      align-items: center;

      & a {
        padding: 7px 5px;
        color: var(--basic-green);
      }

      & span:last-child {
        color: var(--dark-gray);
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .quick-links h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
  }

  .quick-links__wrapper {
    & ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      padding: 0;
      row-gap: 17px;
      box-shadow: none;

      & li {
        & span:nth-child(2) {
          position: relative;
          top: 5px;
          flex-grow: 1;
          border-bottom: 1px dotted #ced1d7;
        }
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .quick-links__wrapper {
    & ul {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;

      & li a {
        padding: 3px 0;
      }
    }
  }
}
