.quick-links {
  & h3 {
    display: none;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    padding: 2px 5px;
    font-size: 14px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

    & a {
      display: flex;
      justify-content: space-between;
      column-gap: 5px;
      padding: 7px 5px;

      & span:first-child {
        font-weight: 300;
        color: var(--basic-green);
      }

      & span:nth-child(2) {
        position: relative;
        top: -2px;
        flex-grow: 1;
        border-bottom: 1px dotted #ced1d7;
      }

      & span:last-child {
        color: var(--dark-gray);
      }
    }
  }

  @media (min-width: @tablet-width) {
    & h3 {
      display: block;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 400;
    }

    & ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      padding: 0;
      row-gap: 17px;
      box-shadow: none;

      & a {
        padding: 3px 0;
      }
    }
  }

  @media (min-width: @desktop-width) {
    & h2 {
      margin-bottom: 20px;
    }

    & ul {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
    }
  }
}
