.realtors__header {
  display: grid;
  row-gap: 20px;

  & h1 {
    font-size: 25px;
  }
}

.realtors__nav {
  order: -1;
  display: flex;
  column-gap: 20px;
  margin-bottom: 10px;

  & li {
    padding: 3px 0;
  }
}

@media (min-width: @desktop-width) {
  .realtors__header {
    padding: 20px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
  }
}
