.search-section {

  & .search-section__banner img {
    display: none;
  }

  & h2 {
    text-align: center;
    font-size: 1.375rem;
    line-height: 1.35em;
    margin-bottom: 20px;
  }

  & .filter {
    padding: 20px 10px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @tablet-width) {
    & h2 {
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.35em;
      margin-bottom: 20px;
    }

    & .filter {
      justify-content: end;
      column-gap: 10px;
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(6, 200px);

    & .search-section__banner {
      grid-column: 1/-1;
      grid-row: 1/-1;
      width: 1200px;
      height: 400px;
    }

    & .search-section__banner img {
      display: block;
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 5px;
    }

    & h2 {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 2.125rem;
      line-height: 1.18em;
      color: var(--white);
    }

    & .filter {
      width: 800px;
      box-shadow: none;
    }
  }

  // @media (min-width: @desktop-width) {

  // }
}

.search-section__filter {

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {
    grid-row: 4/9;
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
