.search {
  display: flex;
  border-radius: 5px;

  &:hover,
  &:active {
    border-color: var(--basic-green);
  }
}

.search--keywords {
  border: 1px solid var(--gray);

  & input:focus {
    box-shadow: none;
  }

  & input,
  & input:hover {
    border: none;
  }

  & span {
    border-bottom: 1px dashed var(--basic-green);
  }
}

.search__button {
  padding: 13px 15px;
  color: var(--basic-green);
}

@media (min-width: @desktop-width) {
  .search input {
    padding: 5px 15px;
  }

  .search--locate {
    border: 1px solid var(--gray);

    & .input--field {
      border-radius: 5px;
    }

    & input:focus {
      box-shadow: none;
    }

    & input,
    & input:hover {
      border: none;
    }

    & .search__locate-name {
      border-bottom: 1px dashed var(--basic-green);
    }

    & .search__button {
      padding: 6px 7px;

      &:nth-of-type(2) {
        border: none;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .search--keywords .search__button {
    padding: 9px 15px;
  }
}

.search:has(input:focus-visible) {
  @media (min-width: @tablet-width) {
    // box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
    border-color: var(--basic-green);
    outline: none;
  }
}

.search--keywords:has(input:focus-visible) {
  // box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 1px 2px #74d099, 0 0 1px 2px #20a052;
  border-color: var(--basic-green);
  outline: none;
}
