.search-field {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 5px;

  &:has(input:hover),
  &:has(input:focus-visible) {
    border-color: var(--basic-green);
  }

  & input {
    padding: 13px 14px;
    width: 100%;
    font-size: 16px;
    color: var(--clarified-black);
    border: none;
    outline: none;
    border-radius: 5px;

    &::placeholder {
      font-size: 14px;
    }
  }
}

.search-field__control {
  display: none;
  height: 100%;
}

.search-field__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 100%;

  &:hover {
    background-color: var(--hover);
  }

  & span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.search-field__icon {
  width: 45px;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI2LjEzNjIgMjYuMTkxNUMyMy45OTk2IDI4LjI3MzMgMjEuMDczNSAyOS41NTY4IDE3Ljg0NTggMjkuNTU2OEMxMS4zMDM2IDI5LjU1NjggNiAyNC4yODM0IDYgMTcuNzc4NEM2IDExLjI3MzQgMTEuMzAzNiA2IDE3Ljg0NTggNkMyNC4zODgxIDYgMjkuNjkxNiAxMS4yNzM0IDI5LjY5MTYgMTcuNzc4NEMyOS42OTE2IDIxLjA3NDEgMjguMzMwMyAyNC4wNTM3IDI2LjEzNjIgMjYuMTkxNVpNMjYuMTM2MiAyNi4xOTE1TDM0IDM0IiBzdHJva2U9IiMwNTNhMTgiIHN0cm9rZS13aWR0aD0iMy42Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: center right 10px;
}

@media (min-width: @desktop-width) {
  .search-field {
    & input {
      padding: 9px 14px;
    }
  }

  .search-field__button,
  .search-field__icon {
    width: 39px;
  }
}
