.selected-properties {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  font-size: 14px;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    & li {
      display: flex;
      align-items: center;
      padding-left: 8px;
      border-radius: 5px;
      background-color: var(--extra-light-gray);
      border: 1px solid transparent;
    }
  }

  & .button-close {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 0 5px 5px 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTIiIHhtbDpzcGFjZT0icHJlc2VydmUiIGNsYXNzPSIiPgogIDxnPgogICAgPGcgZGF0YS1uYW1lPSIwMiBVc2VyIj4KICAgICAgPHBhdGggZD0iTTI1IDUxMmEyNSAyNSAwIDAgMS0xNy42OC00Mi42OGw0NjItNDYyYTI1IDI1IDAgMCAxIDM1LjM2IDM1LjM2bC00NjIgNDYyQTI0LjkzIDI0LjkzIDAgMCAxIDI1IDUxMnoiIGZpbGw9IiM2NjY2NjYiIG9wYWNpdHk9IjEiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiPgogICAgICA8L3BhdGg+CiAgICAgIDxwYXRoIGQ9Ik00ODcgNTEyYTI0LjkzIDI0LjkzIDAgMCAxLTE3LjY4LTcuMzJsLTQ2Mi00NjJBMjUgMjUgMCAwIDEgNDIuNjggNy4zMmw0NjIgNDYyQTI1IDI1IDAgMCAxIDQ4NyA1MTJ6IiBmaWxsPSIjNjY2NjY2IiBvcGFjaXR5PSIxIiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIj4KICAgICAgPC9wYXRoPgogICAgPC9nPgogIDwvZz4KPC9zdmc+Cg==);
  }

  & > .button {
    padding: 3px 8px 4px 8px;
    border-radius: 5px;
    color: var(--basic-green);
    background-color: var(--extra-light-gray);
  }
}

.selected-properties--filter {
  margin-top: 15px;
}

@media (min-width: @desktop-width) {
  .selected-properties {
    & > .button {
      padding: 0 8px;
    }
  }

  .selected-properties--filter {
    margin-top: 10px;
  }
}
