.subway-list {
  padding: 15px 0 15px;

  & p {
    text-align: center;
  }
}

.subway-list__item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
  }

  &:not(:first-of-type) {
    margin-top: 14px;
  }

  & ul {
    & li {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      line-height: 20px;
    }
  }

  & label {
    flex-grow: 1;
    padding-left: 15px;
    line-height: 22px;
  }
}

.subway-list__title {
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 22px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    font-size: 14px;
    color: var(--white);
    border-radius: 5px;
  }
}

@media (min-width: @tablet-width) {
  .subway-list__item ul {
    columns: 2;
  }

  .subway-list__item input {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .subway-list__item ul {
    columns: 3;
  }
}
