.switch {
  // flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  // justify-content: space-between;

  @media (max-width: @mobile-width-only) {
  }
  @media (min-width: @tablet-width) {
  }
}

@media (min-width: @tablet-width) {
  .switch .pseudo-input {
    padding: 5px;
  }
}

.switch__label {
  text-align: center;
}
