.toggler {
  position: relative;
  // display: block;
  width: 40px;
  height: 40px;
  margin-left: -8px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.navigation--closed .toggler::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 8px;

  width: 23px;
  height: 2px;
  background-color: @basic-black;
  box-shadow: 0 6px 0 0 @basic-black, 0 12px 0 0 @basic-black;
}

.navigation--open .toggler {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 19px;
    left: 8px;
    width: 23px;
    height: 2px;
    background-color: @basic-black;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}
