.type {
  margin-top: 5px;
  padding: 10px 0;
  border: 1px solid @light-gray;
}

.type__title {
  margin: 0;
  padding: 0 10px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    &:nth-of-type(2) {
      grid-row: 1/2;
      grid-column: 2/3;
    }
  }
}

.type__radio {
  display: block;
  padding: 10px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding: 5px 10px;
  }
}

.type__input:hover + .type__radio {
  padding: 9px;
  border: 1px solid @basic-green;

  @media (min-width: @tablet-width) {
    padding: 4px 9px;
  }
}

.type__input:focus + .type__radio {
  padding: 9px;
  border: 1px solid @basic-green;
}

.type__input:checked + .type__radio {
  color: @white;
  background-color: @basic-green;
}
