.type {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 5px;
  padding: 10px 0;
  border: 1px solid var(--light-gray);
  background-color: var(--light);

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0 0 10px 0;
    margin-top: 7px;
    background-color: transparent;
  }
}

.type__title {
  margin: 0;
  padding: 0 10px;
  font-weight: 500;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--light-gray);
    background-color: var(--extra-light-gray);
  }
}

.type__item:not(:last-child) {
  margin-bottom: 3px;
}

.type__item label .pseudo-radio {
  position: relative;
  border: none;
}

.type__item > input:checked + label > span::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 14px;
  right: 10px;
  background-image: url('../img/icons/check-lg.svg');
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 10px;
  }
}
