@media (max-width: @mobile-width-only) {
  .toggler[aria-expanded="false"] ~ .user-nav {
    display: none;
  }
}

.user-nav {
  margin-left: auto;
  color: @basic-green;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.user-nav__list {
  display: flex;
}

.user-nav__list--disabled {
  display: none;
}

.user-nav__link {
  display: block;
  padding: 11px 21px 9px 21px;
  color: inherit;
  background-color: @extra-light-gray;
  border-radius: 6px;
  border: 1px solid @basic-green;

  @media (min-width: @tablet-width) {
    padding: 5px 7px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.user-nav__link--reg {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 1px;
      height: 17px;
      transform: translateY(-50%);
      background-color: @basic-green;
    }
  }
}
