@media (max-width: @mobile-width-only) {
  .toggler[aria-expanded='true'] ~ .user-actions {
    display: none;
  }
}

.user-actions {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  align-items: center;

  @media (min-width: @tablet-width) {
    column-gap: 10px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}
