@media (max-width: @mobile-width-only) {
  .toggler[aria-expanded='false'] ~ .user-nav {
    display: none;
  }
}

// @media (max-width: @mobile-width-only) {
//   .user-nav__disabled {
//     display: none;
//   }
// }

.user-nav {
  margin-left: auto;
  color: inherit;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.user-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    column-gap: 10px;
  }
}

.user-nav__list--disabled {
  display: none;
}

.user-nav__login {
  // display: none;
  & span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--extra-light-gray);
    // background-image: url('../img/icons/user-icon.svg');
    border-radius: 50%;
  }
}
