.user-nav__list {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.user-nav__disabled {
  display: none;
}

.user-nav__toggler[aria-expanded='false'] ~ .user-nav__profile {
  display: none;
}

.user-nav__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 44px;
  border-radius: 5px;
  background-color: var(--extra-light-gray);

  &:hover {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    color: var(--white) !important;
  }

  @media (min-width: @small-tablet-width) {
    padding: 0 11px;
    height: 40px;
  }
}

.user-nav__toggler {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--extra-light-gray);

  &:hover {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
  }

  &:active svg {
    stroke: var(--white);
  }

  @media (min-width: @desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.user-nav__profile {
  position: fixed;
  top: 62px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
  background-color: var(--white);
  border-radius: 5px;
  z-index: 2;

  & a {
    display: block;
    padding: 13px 15px;
    line-height: 28px;
    border-bottom: 1px solid var(--light-gray);
  }

  @media (min-width: @tablet-width) {
    padding: 0 42px;

    & a {
      padding: 12px 0 13px 0;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: auto;
    padding: 5px 0px;
    margin: 0;
    width: 250px;
    height: max-content;
    box-shadow: 0 5px 10px 0 var(--light-black);

    & a {
      padding: 6px 10px 6px 20px;
    }
  }
}
