// colors

@white: #ffffff;
@basic-black: #333333;
@dark-gray: #666666;
@gray: #b3b3b3;
@light-gray: #e5e5e5;
@extra-light-gray: #f6f6f6;
@basic-green: #20a052;
@light-green: #def6e7;
@blue: rgb(0, 106, 255);
@light: rgb(251, 251, 251);
@light-blue: rgb(242, 250, 255);

// Fonts-family

@roboto: 'Roboto', sans-serif;
@oswald: 'Oswald', 'Arial', sans-serif;
@arial: 'Arial';

// width
@width-wrapper: 1440;

:root {
  --blue: #006aff;
  --bright-blue: rgb(166, 229, 255);
  --dark-blue: rgb(0, 0, 139);
  --white: rgb(255, 255, 255);
  --basic-black: #333333;
  --clarified-black: rgba(0, 0, 0, 0.8);
  --light-black: rgba(0, 0, 0, 0.1);
  --dark-gray: #666666;
  --gray: #b3b3b3;
  --light-gray: #e5e5e5;
  --extra-light-gray: #f6f6f6;
  --basic-green: #20a052;
  --light-green: #def6e7;
  --light: rgb(251, 251, 251);
  --light-blue: rgb(242, 250, 255);
}
