// colors

@white: #ffffff;
@basic-black: #333333;
@dark-gray: #666666;
@gray: #b3b3b3;
@light-gray: #e5e5e5;
@extra-light-gray: #f6f6f6;
@basic-green: #20a052;
@light-green: #def6e7;
@blue: rgb(0, 106, 255);
@light: rgb(251, 251, 251);
@light-blue: rgb(242, 250, 255);

// Fonts-family

@roboto: 'Roboto', sans-serif;
@oswald: 'Oswald', 'Arial', sans-serif;
@arial: 'Arial';

// Viewport

@tablet-width: 768px;
@desktop-width: 1240px;
@mobile-width-only: 767px;

// width
@width-wrapper: 1440;
