.wrapper-content {
  margin: 0 15px;
  // max-width: 560px;
  // margin: 0 auto;

  @media (min-width: @tablet-width) {
    // max-width: 900px;
    margin: 0 40px;
    // margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
}

.wrapper {
  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.container {
  // background-color: @extra-light-gray;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.section-wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 688px;
    max-width: 900px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    margin: 0 auto;
  }
}
