.wrapper-content {
  padding: 0 20px;
  // max-width: 560px;
  // margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
}

.wrapper {
  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}
