.wrapper-content {
  margin: 0 15px;

  @media (min-width: @tablet-width) {
    margin: 0 40px;
  }

  @media (min-width: @desktop-width) {
    // padding: 0;
    width: 1200px;
    margin: 0 auto;
  }
}

.wrapper {
  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: 0 auto;
  }
}

.container {
  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.section-wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 688px;
    max-width: 900px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
    margin: 0 auto;
  }
}

.wrapper-gk {
  margin: 0 15px;

  @media (min-width: @tablet-width) {
    margin: 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 1100px;
    margin: 0 auto;
  }
}
