.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
a {
  text-decoration: none;
}
.page {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  color: #333333;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #ffffff;
}
.page__body {
  margin: 0;
  padding: 0;
  min-width: 360px;
}
.wrapper-content {
  padding: 0 20px;
}
@media (min-width: 1240px) {
  .wrapper-content {
    padding: 0;
  }
}
@media (min-width: 1240px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
.logo-text {
  font-size: 36px;
  line-height: 36px;
  color: #20a052;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1240px) {
  .navigation__list {
    display: flex;
  }
}
.navigation__item {
  position: relative;
}
.navigation__link {
  display: block;
}
.navigation__submenu-title {
  margin: 0;
}
.navigation__submenu-list {
  list-style: none;
  padding: 0;
}
.navigation__submenu {
  position: absolute;
  visibility: hidden;
}
.navigation__item:hover .navigation__submenu {
  visibility: visible;
}
.page-header {
  border-bottom: 1px #cccccc solid;
}
@media (min-width: 1240px) {
  .page-header {
    margin-bottom: 65px;
  }
}
.page-main__header {
  position: relative;
  min-height: 154px;
  padding: 21px 0 20px 0;
  background-color: #def6e7;
}
.page-main__header::after {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 66px;
  height: 66px;
  background-image: url('../img/icons/building.svg');
  background-repeat: no-repeat;
}
@media (min-width: 1240px) {
  .page-main__header {
    min-height: 84px;
    margin: 0;
    padding: 52px 0 52px 0;
  }
  .page-main__header::after {
    bottom: 36px;
    right: 55px;
    width: 112px;
    height: 112px;
    background-size: 100%;
  }
}
.page-main__caption {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
}
@media (min-width: 1240px) {
  .page-main__caption {
    margin-left: 38px;
    width: 760px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
  }
}
.page-main__caption-name {
  color: #20a052;
}
.stats {
  padding: 30px 0;
}
@media (min-width: 1240px) {
  .stats {
    padding: 60px 0 57px 0;
  }
}
.stats__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  margin: 0;
}
@media (min-width: 1240px) {
  .stats__description {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    align-items: center;
  }
}
.stats__description-item {
  position: relative;
  display: grid;
  grid-template-rows: min-content;
  margin-left: 42px;
}
@media (min-width: 1240px) {
  .stats__description-item {
    row-gap: 3px;
    margin-left: 68px;
  }
}
.stats__description-icon1::after,
.stats__description-icon2::after,
.stats__description-icon3::after,
.stats__description-icon4::after {
  position: absolute;
  content: '';
  top: 0;
  left: -42px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 1240px) {
  .stats__description-icon1::after,
  .stats__description-icon2::after,
  .stats__description-icon3::after,
  .stats__description-icon4::after {
    height: 50px;
    left: -68px;
    width: 50px;
  }
}
.stats__description-icon1::after {
  background-image: url('../img/icons/call_manager.svg');
}
.stats__description-icon2::after {
  background-image: url('../img/icons/desk.svg');
}
.stats__description-icon3::after {
  background-image: url('../img/icons/offer.svg');
}
.stats__description-icon4::after {
  background-image: url('../img/icons/croud.svg');
}
.stats__description-point {
  font-size: 14px;
  line-height: 16px;
  order: 1;
}
@media (min-width: 1240px) {
  .stats__description-point {
    font-size: 15px;
    line-height: 18px;
  }
}
.stats__description-value {
  margin: 0;
  font-size: 17px;
  padding: 0;
  line-height: 19px;
  font-weight: 700;
  color: #20a052;
}
@media (min-width: 1240px) {
  .stats__description-value {
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;
  }
}
.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}
@media (min-width: 1240px) {
  .advantages {
    padding-top: 68px;
    padding-bottom: 85px;
  }
}
.users-list {
  list-style: none;
  margin: 0;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  overflow-y: hidden;
  margin-bottom: 30px;
  position: relative;
}
.users-list::-webkit-scrollbar {
  display: none;
}
@media (min-width: 1240px) {
  .users-list {
    margin-bottom: 57px;
  }
}
.users-list__item {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  white-space: nowrap;
  position: relative;
}
.users-list__item--active {
  border-bottom: 1px solid #20a052;
}
.users-list__item:not(:last-child) {
  margin-right: 20px;
}
.users-list__item::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 0;
  width: 2px;
  height: 20px;
  background-color: #cecece;
}
.users-list__item:last-child::after {
  display: none;
}
@media (min-width: 1240px) {
  .users-list__item {
    font-size: 24px;
    line-height: 32px;
  }
  .users-list__item--active {
    color: #20a052;
  }
  .users-list__item:not(:last-child) {
    margin-right: 48px;
  }
  .users-list__item::after {
    right: -27px;
    top: 0;
    width: 2px;
    height: 30px;
  }
}
.users-list__link {
  text-decoration: none;
  color: inherit;
}
.advantages-list {
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (min-width: 1240px) {
  .advantages-list {
    row-gap: 25px;
    margin-bottom: 60px;
  }
}
.advantages-list__item {
  padding: 0;
  padding-bottom: 23px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px dashed #cccccc;
  position: relative;
}
.advantages-list__item::before {
  position: absolute;
  content: '';
  top: 0;
  left: -70px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.advantages-list__item:first-child::before {
  background-image: url('../img/icons/xml.svg');
}
.advantages-list__item:nth-child(2)::before {
  background-image: url('../img/icons/report.svg');
}
.advantages-list__item:nth-child(3)::before {
  background-image: url('../img/icons/checkbox.svg');
}
.advantages-list__item:nth-child(4)::before {
  background-image: url('../img/icons/diagram.svg');
}
.advantages-list__item:nth-child(5)::before {
  background-image: url('../img/icons/page.svg');
}
.advantages-list__item:nth-child(6)::before {
  background-image: url('../img/icons/card.svg');
}
.advantages-list__item:nth-child(7)::before {
  background-image: url('../img/icons/grafic.svg');
}
.advantages-list__item:nth-child(8)::before {
  background-image: url('../img/icons/blank.svg');
}
.advantages-list__item:nth-child(9)::before {
  background-image: url('../img/icons/question.svg');
}
@media (min-width: 1240px) {
  .advantages-list__item {
    width: 773px;
    row-gap: 15px;
    margin-left: 121px;
    padding-bottom: 30px;
    white-space: pre-line;
  }
  .advantages-list__item::before {
    width: 90px;
    height: 90px;
    left: -121px;
  }
}
.advantages-list__caption {
  margin: 0;
  margin-bottom: ;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
@media (min-width: 1240px) {
  .advantages-list__caption {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
  }
}
.advantages-list__description {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}
@media (min-width: 1240px) {
  .advantages-list__description {
    font-size: 16px;
    line-height: 22px;
  }
}
.users-actions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (min-width: 1240px) {
  .users-actions {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.users-actions__button {
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 3px;
  height: 36px;
  cursor: pointer;
}
@media (min-width: 1240px) {
  .users-actions__button {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    height: 44px;
    padding: 10px 30px 14px 52px;
  }
}
.users-actions__button-reg {
  color: #ffffff;
  background-color: #20a052;
}
.users-actions__icon-person {
  position: relative;
}
.users-actions__icon-person::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -23px;
  width: 18px;
  height: 18px;
  background-image: url('../img/icons/person.svg');
  background-repeat: no-repeat;
}
@media (min-width: 1240px) {
  .users-actions__icon-person::before {
    top: 0px;
    left: -32px;
    width: 20px;
    height: 20px;
  }
}
.users-actions__button-faq {
  position: relative;
  padding-top: 6px;
  padding-bottom: 8px;
  border: 2px solid #20a052;
}
@media (min-width: 1240px) {
  .users-actions__button-faq {
    padding-top: 8px;
    padding-bottom: 12px;
  }
}
.users-actions__icon-faq {
  position: relative;
}
.users-actions__icon-faq::before {
  position: absolute;
  content: '';
  top: -2px;
  left: -23px;
  width: 18px;
  height: 18px;
  background-image: url('../img/icons/chat-question.svg');
  background-repeat: no-repeat;
}
@media (min-width: 1240px) {
  .users-actions__icon-faq::before {
    top: 0px;
    left: -32px;
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
